<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title></title>

		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
		<script type="text/javascript" src="../js/menu_const.js"></script>
		<script type="text/javascript" src="../js/view_filter.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<style>
			i {
				color: #27A9E3;
			}
		</style>
	</head>

	<body>
		<div id="sss">
			<el-form :model="staff" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
				<el-form-item label="员工编号" prop="pId" :disabled="true">
					<el-col :span="12">
						<el-input v-model="staff.pId" placeholder="请输入姓名"></el-input>
					</el-col>
				</el-form-item>
			<el-form :model="staff" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
				<el-form-item label="技工班组" prop="gangwei">
					<el-col :span="12">
						<el-input v-model="staff.gangwei" placeholder="请输入姓名"></el-input>
					</el-col>
				</el-form-item>
				<el-form-item label="员工名称" prop="pname">

					<el-col :span="12">
						<el-input v-model="staff.pname" placeholder="请输入住址"></el-input>
					</el-col>
				</el-form-item>
				<el-form-item label="性别">
					<el-radio-group v-model="staff.psex">
						<el-radio label="男" value="男"></el-radio>
						<el-radio label="女" value="女"></el-radio>
					</el-radio-group>
				</el-form-item>
	
					<el-form-item label="员工学历" prop="peducational">

					<el-col :span="12">
						<el-input v-model="staff.peducational" ></el-input>
					</el-col>
				</el-form-item>
					<el-form-item label="员工联系号码" prop="pphone">

					<el-col :span="12">
						<el-input v-model="staff.pphone" ></el-input>
					</el-col>
				</el-form-item>
				<el-form-item label="员工地址" prop="paddress">

					<el-col :span="12">
						<el-input v-model="staff.paddress"></el-input>
					</el-col>
				</el-form-item>
				<el-form-item label="员工密码" prop="ppwd">

					<el-col :span="12">
						<el-input v-model="staff.ppwd"></el-input>
					</el-col>
				</el-form-item>
				<el-form-item label="入职日期" required>
					<el-col :span="12">
						<el-form-item prop="pentry">
							<el-date-picker type="date" placeholder="选择日期" v-model="staff.pentry" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-col>

				</el-form-item>

				<el-form-item>
					<el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
					<el-button @click="resetForm('ruleForm')">重置</el-button>
				</el-form-item>
			</el-form>

		</div>

	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script>
		var yggl = new Vue({
			el: "#sss",
			data: {
				pid:null,
				staff: {
					pId: '',
					bzId: '',
					pname: '',
					psex: '',
					peducational: '',
					pphone: '',
					paddress: '',
					pidcard:'',
					pstatic:'',
					ppwd:'',
					ppost:''
				}
				
			},

			methods: {
				goodsByid() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/lc/api/lcpersonnels/${_this.pid}`, function(date) {
						_this.staff = date;
						
						
					});
					//查询技工
					$.getJSON(`http://127.0.0.1:8080/lc/api/lcpersonnels/sss/ssh`, function(date) {
						console.info(date);
	
					});
					
				},
				submitForm(formName) {
					let _this=this;
					alert(11);
					this.$refs[formName].validate((valid) => {
						if(valid) {
							$.ajax(`http://127.0.0.1:8080/lc/api/lcpersonnels/modeil`, {
						type: "put",
						contentType: "application/json",
						data: JSON.stringify(_this.staff),
						dataType: "json",
						success(date) {
							if(date.code == "200") {
								_this.$message(date.msg);

							} else {
								_this.$message(date.msg);
							}
						}
					});
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				}
			},
			mounted() {
				let _this = this; //非常重要
				_this.pid = sessionStorage.getItem('iss');
				if(_this.pid != null) {
					this.goodsByid();
				}

			}
		});
	</script>

</html>