<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title></title>

		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
		<script type="text/javascript" src="../js/menu_const.js"></script>
		<script type="text/javascript" src="../js/view_filter.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<style>
			i {
				color: #27A9E3;
			}
			
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div id="sss" v-cloak>
			<el-form :model="staff" :rules="rules" :inline="true" ref="ruleForm" label-width="100px" class="demo-ruleForm.inline">
				<el-form-item label="员工编号" prop="pId" :disabled="true">
					<el-input v-model="staff.pId" placeholder="请输入姓名" style="width: 250px;"></el-input>
				</el-form-item>
					<el-form-item label="技工班组" prop="bzId">
						<el-select v-model="staff.bzId">
							<el-option v-for="item in jg" :label="item.bzname" :value="item.bzId" style="width: 250px;">
							</el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="员工名称" prop="pname">

							<el-input v-model="staff.pname" placeholder="请输入住址" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item label="性别">
						<el-radio-group v-model="staff.psex" style="width: 250px;">
							<el-radio label="男" value="男"></el-radio>
							<el-radio label="女" value="女"></el-radio>
						</el-radio-group>
					</el-form-item>
					<el-form-item label="员工学历" prop="peducational">
						<el-input v-model="staff.peducational" style="width: 250px;"> </el-input>
					</el-form-item>
					<el-form-item label="员工联系号码" prop="pphone">
						<el-input v-model="staff.pphone" style="width: 250px;"></el-input>
						</el-col>
					</el-form-item>
					<el-form-item label="员工地址" prop="paddress">
						<el-input v-model="staff.paddress" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item label="员工密码" prop="ppwd">
						<el-input v-model="staff.ppwd" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item label="入职日期" required>
						<el-form-item prop="pentry" style="width: 250px;">
							<el-date-picker type="date" placeholder="选择日期" v-model="staff.pentry" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-form-item>
					<el-form-item label="员工岗位" prop="ppost">
						<el-input v-model="staff.ppost" style="width: 250px;"></el-input>
					</el-form-item>
					<el-form-item style="margin: 0px auto;width: 700px; text-align: right;">
						<el-button style="width: 150px;" type="primary" @click="submitForm('ruleForm')">保存</el-button>
						<el-button style="width: 150px;" @click="resetForm('ruleForm')">重置</el-button>
					</el-form-item>
				</el-form>

		</div>

	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script>
		var yggl = new Vue({
			el: "#sss",
			data: {
				jg: [],
				pid: null,
				staff: {
					pId: '',
					bzId: '',
					pname: '',
					psex: '',
					peducational: '',
					pphone: '',
					paddress: '',
					pidcard: '',
					pstatic: '',
					ppwd: '',
					ppost: ''
				}

			},

			methods: {
				//最大值
				getServiceMaxWid(){
					let _this = this;
					$.getJSON("http://127.0.0.1:8080/lc/api/services/max",
					(msg) => {
						_this.formfix.wid = msg;
						console.info(msg );
					});
				},
				//提供的班组
				jgbz() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/lc/api/workergroups`, function(date) {
						_this.jg = date;

					});
				},
				goodsByid() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/lc/api/lcpersonnels/${_this.pid}`, function(date) {
						_this.staff = date;

					});
					//查询技工
					$.getJSON(`http://127.0.0.1:8080/lc/api/lcpersonnels/sss/ssh`, function(date) {
						console.info(date);

					});

				},
				submitForm(formName) {
					let _this = this;
					alert(11);
					this.$refs[formName].validate((valid) => {
						if(valid) {
							$.ajax(`http://127.0.0.1:8080/lc/api/lcpersonnels/modeil`, {
								type: "put",
								contentType: "application/json",
								data: JSON.stringify(_this.staff),
								dataType: "json",
								success(date) {
									if(date.code == "200") {
										_this.$message(date.msg);

									} else {
										_this.$message(date.msg);
									}
								}
							});
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				}
			},
			mounted() {
				let _this = this; //非常重要
				_this.pid = sessionStorage.getItem('iss');
				if(_this.pid != null) {
					this.goodsByid();
				}
				_this.jgbz();
			}
		});
	</script>

</html>