<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title></title>

		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
		<script type="text/javascript" src="../js/menu_const.js"></script>
		<script type="text/javascript" src="../js/view_filter.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<style>
			i {
				color: #27A9E3;
			}
		</style>
	</head>

	<body>
		<div id="sss">
			<el-form :model="staff" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
				<el-form-item label="员工姓名" prop="name">
					<el-col :span="12">
						<el-input v-model="staff.name" placeholder="请输入姓名"></el-input>
					</el-col>
				</el-form-item>

				<el-form-item label="住址" prop="address">

					<el-col :span="12">
						<el-input v-model="staff.address" placeholder="请输入住址"></el-input>
					</el-col>
				</el-form-item>

				<el-form-item label="出生日期" required>
					<el-col :span="12">
						<el-form-item prop="staffdate">
							<el-date-picker type="date" placeholder="选择日期" v-model="staff.staffdate" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-col>

				</el-form-item>
				<el-form-item label="联系电话" required>
					<el-col :span="12">
						<el-form-item prop="phone">
							<el-input v-model.number="staff.phone"></el-input>
						</el-form-item>
					</el-col>

				</el-form-item>
				<el-form-item label="年龄" prop="age">
					<el-col :span="12">
						<el-input v-model.number="staff.age"></el-input>
					</el-col>
				</el-form-item>
				<el-form-item label="性别">
					<el-radio-group v-model="staff.sex">
						<el-radio label="男"></el-radio>
						<el-radio label="女"></el-radio>
					</el-radio-group>
				</el-form-item>

				<el-form-item label="员工介绍" prop="desc">
					<el-col :span="12">
						<el-input type="textarea" v-model="staff.desc"></el-input>
					</el-col>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
					<el-button @click="resetForm('ruleForm')">重置</el-button>
				</el-form-item>
			</el-form>

		</div>

	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script>
		var yggl = new Vue({
					el: "#sss",
					data: {

						staff: {
							name: '',
							age: '',
							sex: '',
							staffdate: '',
							phone: "",
							address: "",
							desc: ''
						},
						rules: {
							name: [{
									required: true,
									message: '请输入员工名称',
									trigger: 'blur'
								},
								{
									min: 3,
									max: 5,
									message: '长度在 3 到 5 个字符',
									trigger: 'blur'
								}
							],
							phone: [{
									required: true,
									message: '请输入电话号码',
									trigger: 'blur'
							},
								 { type: 'number', message: '电话必须为数字值'}
							],
							address: [{
								type: 'date',
								required: true,
								message: '请输入住址',
								trigger: 'change'
							}],
							staffdate: [{
								type: 'date',
								required: true,
								message: '请选择日期',
								trigger: 'change'
							}],
							sex: [{
									required: true,
									message: '请选择性别',
									trigger: 'change'
								}],
								desc: [{
									required: true,
									message: '请输入自我介绍',
									trigger: 'blur'
								}
							]

							}
						},

						methods: {
							submitForm(formName) {
								this.$refs[formName].validate((valid) => {
									if(valid) {
										alert('submit!');
									} else {
										console.log('error submit!!');
										return false;
									}
								});
							},
							resetForm(formName) {
								this.$refs[formName].resetFields();
							}
						}
					})
	</script>

</html>