<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title></title>

		<style>
			i {
				color: #27A9E3;
			}
			
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div id="sss" v-cloak>
			<el-form :model="staff" :inline="true" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm.inline">
				<el-form-item label="员工编号" prop="pId">
					<el-input v-model="staff.pId" :disabled="true" placeholder="请输入" style="width: 250px;"></el-input>
				</el-form-item>
				<el-form-item label="员工姓名" prop="pname">
					<el-input v-model="staff.pname" placeholder="请输入" style="width: 250px;"></el-input>
				</el-form-item>
				<!--修改为岗位-->
				<!--<el-form-item label="岗位" prop="gwname">
						<el-input v-model="staff.gwname" placeholder="请输入" style="width: 250px;"></el-input>
				</el-form-item>-->
				<el-form-item label="角色" prop="cid">
					<el-select v-model="staff.cid" style="width: 250px;">
						<el-option v-for="item in js" :label="item.cname" :value="item.cid">
						</el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="员工岗位" prop="ppost" required>
					<el-select v-model="staff.ppost" style="width: 250px;">
						<el-option v-for="item in jg" :label="item.gwname" :value="item.pid" style="width: 250px;">
						</el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="性别">
					<el-radio-group v-model="staff.psex" style="width: 250px;">
						<el-radio label="男" value="男"></el-radio>
						<el-radio label="女" value="女"></el-radio>
					</el-radio-group>
				</el-form-item>
				<el-form-item label="员工学历" prop="peducational">
					<el-select v-model="staff.peducational" style="width: 250px;">
						<el-option label="本科" value="本科">
						</el-option>
						<el-option label="专科" value="专科">
						</el-option>
					</el-select>

				</el-form-item>
				<el-form-item label="联系号码" prop="pphone">
					<el-input v-model="staff.pphone" style="width: 250px;"></el-input>
				</el-form-item>
				<!--客户增加 角色和岗位-->
				<el-form-item label="员工地址" prop="paddress">
					<el-input v-model="staff.paddress" style="width: 250px;"></el-input>
				</el-form-item>
				
				<el-form-item label="员工密码" prop="ppwd">
					<el-input v-model="staff.ppwd" style="width: 250px;"></el-input>
				</el-form-item>
				<el-form-item label="入职日期" prop="pentry">
					<el-form-item prop="pentry">
						<el-date-picker style="width: 250px;" type="date" placeholder="选择日期" v-model="staff.pentry" style="width: 100%;"></el-date-picker>
					</el-form-item>
				</el-form-item>

				<el-form-item style="margin: 0px auto;width: 700px; text-align: right;">
					<el-button style="width: 150px;" type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
					<el-button style="width: 150px;" @click="colse">取消</el-button>
				</el-form-item>
			</el-form>

		</div>

	</body>
	<script>
		var yggl2 = new Vue({
			el: "#sss",
			data: {
				jg: [],
				js: [],
				isshow2: null,
				pids: null,
				staff: {
					pId: '',
					bzId: '',
					pname: '',
					psex: '',
					pentry: '',
					peducational: '',
					pphone: '',
					paddress: '',
					pidcard: '',
					pstatic: '',
					ppwd: '',
					ppost: '',
					gwname: '',
					cid: ''

				},
				rules: {
					pId: [{
						required: true,
						message: '请输入',
						trigger: 'blur'
					}],
					bzId: [{
						required: true,
						message: '请选择',
						trigger: 'change'
					}],

					pname: [{
						required: true,
						message: '请输入名称',
						trigger: 'blur'
					}],
					pphone: [
          { required: true, message: "请输入手机号码", trigger: "blur" },
          { min: 11, max: 11, message: "请输入11位手机号码", trigger: "blur" },
          {
            pattern: /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/,
            message: "请输入正确的手机号码"
          }
        ]
				}

			},

			methods: {
				colse(){
					yggl.isshow2=false;
				},
				//最大值
				getServiceMaxWid() {
					let _this = this;
					$.getJSON("http://127.0.0.1:8080/lc/api/services/max",
						(msg) => {
							_this.formfix.wid = msg;
						});
				},
				//提供的班组
				jgbz() {
					let _this = this;
			/*		$.getJSON(`http://127.0.0.1:8080/lc/api/lcpersonnels/${_this.pids}`, function(date) {
						_this.staff = date;

					});*/
					$.getJSON(`http://127.0.0.1:8080/lc/api/workergroups/zw`, function(date) {
						_this.jg = date;
				
						console.info(date);
					});
					$.getJSON(`http://127.0.0.1:8080/lc/api/lcRoles/ssb`, function(date) {
						_this.js = date;
						console.info(date);
					});

				},

				submitForm(formName) {
					let _this = this;
					this.$refs[formName].validate((valid) => {
						if(valid) {
							$.ajax(`http://127.0.0.1:8080/lc/api/lcpersonnels/shan/${_this.pids}`, {
								type: "delete",
								dataType: "json",
								success(data) {
									if(data.code == "500") {
										_this.$message(data.msg);
									} else {
										
									//	_this.staff.ppost=_this.staff.postid
										$.ajax(`http://127.0.0.1:8080/lc/api/lcpersonnels/addGoods`, {
											type: "post",
											contentType: "application/json",
											data: JSON.stringify(_this.staff),
											dataType: "json",
											success(date) {
												if(date.code == "200") {
													_this.$message({
														duration:"1000",
														type: 'success',
														message: '操作成功!'
													});
													
													_this.colse();
													yggl.lcgoTopage(1, 8,"")

												} else {
													_this.$message(date.msg);
												}
											}
										});
									}
								}
							});
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				/*关闭对话框*/

				handleClose(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							this.radio = "";
							done();
						})
						.catch(_ => {});
				}
			},
			mounted() {
				let _this = this; //非常重要
				_this.pids = sessionStorage.getItem('iss');
				_this.staff=JSON.parse(sessionStorage.getItem('userUpdate'));
				//alert(JSON.stringify(this.staff))
				if(_this.pids != null) {
					_this.jgbz();
				}
			}
		});
	</script>

</html>