<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title>商品资料管理</title>
		<meta name="renderer" content="webkit">
		<link rel="stylesheet" href="../css/font.css">
		<link rel="stylesheet" href="../css/xadmin.css">
		<script src="../lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/xadmin.js"></script>

		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<style>
			.demo-table-expand {
				font-size: 0;
			}
			
			.demo-table-expand label {
				width: 90px;
				color: #99a9bf;
			}
			
			.demo-table-expand .el-form-item {
				margin-right: 0;
				margin-bottom: 0;
				width: 50%;
			}
			
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="layui-fluid" id="spgl" v-cloak>
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-body " >
							<el-form :inline="true" :model="goods" class="demo-form-inline" align="center"  style="padding: 0px;line-height: 30px;">
								<el-form-item label="请输入商品名称" style="margin-left: 10ex;">
									<el-input v-model="goods.gname" placeholder='商品名称 ' size="mini"></el-input>

								</el-form-item>
								<el-form-item>
									<div class="layui-inline layui-show-xs-block">
										<el-row>
											<el-button type="primary" size="mini" @click="names">查询信息</el-button>
											<el-button type="success" size="mini" @click="addgoods">新增信息</el-button>
										</el-row>
									</div>

								</el-form-item>
							</el-form>
						</div>
						<div class="layui-card-body layui-table-body layui-table-main" style="margin-top: -5ex;">
							<el-table :data="pageInfo.list" style="width: 100%; ">
								<el-table-column label="商品资料管理" align="center">
									<el-table-column type="expand">
										<template slot-scope="props">
											<el-form label-position="left" inline class="demo-table-expand">
												<el-form-item label="供应商编号">
													<span>{{ props.row.lcSupplier.ghsid}}</span>
												</el-form-item>
												<el-form-item label="供应商名称">
													<span>{{ props.row.lcSupplier.ghsname}}</span>
												</el-form-item>
												<el-form-item label="供货商地址">
													<span>{{ props.row.lcSupplier.ghsaddress}}</span>
												</el-form-item>
												<el-form-item label="联系电话">
													<span>{{ props.row.lcSupplier.ghsphone}}</span>
												</el-form-item>
												<el-form-item label="联系人">
													<span>{{ props.row.lcSupplier.ghsuser}}</span>
												</el-form-item>
												<el-form-item label="打款账号">
													<span>{{ props.row.lcSupplier.ghsaccount}}</span>
												</el-form-item>
											</el-form>
										</template>
									</el-table-column>

									<el-table-column prop="gid" align="center" label="商品编号" width="120">
									</el-table-column>
									<el-table-column prop="gname" align="center" label="商品名称" width="120">
									</el-table-column>
									<el-table-column prop="gtime" align="center" label="出产日器" width="120">
									</el-table-column>
									<el-table-column prop="gbrand" align="center" label="商品品牌" width="120">
									</el-table-column>
									<el-table-column prop="gsuitable" align="center" label="适用车辆" width="120">
									</el-table-column>
									<el-table-column prop="gprice" align="center" label="商品价格" width="120">
									</el-table-column>
									<el-table-column prop="gtype" align="center" label="商品分类" width="120">
									</el-table-column>
									<el-table-column prop="gdescribe" align="center" label="商品简介" width="180">
									</el-table-column>
									<el-table-column label="操作" align="center">
										<template slot-scope="temp">
											<i class="el-icon-s-tools" @click="xiugai(temp.row.gid,temp.row)"></i>&nbsp;&nbsp;
											<i class="el-icon-delete" @click="shanchu(temp.row.gid)"></i>
										</template>
									</el-table-column>

								</el-table-column>
							</el-table>

						</div>
						<div class="layui-card-body ">
							<div style="text-align: center;">
								<template>
									<div class="block">

										<el-pagination v-if="pageInfo.total!=0" :background="true" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage4" :page-size="pageInfo.pageSize" :total="pageInfo.total" :page-sizes="[6,3]" layout="total, sizes, prev, pager, next, jumper">
										</el-pagination>
									</div>
								</template>
							</div>
						</div>

						<el-dialog title="商品资料添加" :visible.sync="isshow1" width="900px" :before-close="handleClose">
							<template>
								<el-form :model="staff" :inline="true" :rules="rules" ref="ruleForm" label-width="100px" class="demo-form-inline">
									<!--<el-form-item label="商品编号">
										<el-input v-model="staff.gid" :disabled="true" style="width: 250px;"></el-input>
									</el-form-item>-->
									<el-form-item label="商品名称" placeholder="请输入姓名" prop="gname">

										<el-input v-model="staff.gname" style="width: 250px;"></el-input>

									</el-form-item>

									<el-form-item label="出产日期" required>

										<el-form-item prop="gtime" style="width: 242px;">
											<el-date-picker type="date" placeholder="请输入" v-model="staff.gtime" style="width: 250px;"></el-date-picker>
										</el-form-item>

									</el-form-item>

									<el-form-item label="商品价格" prop="gprice">

										<el-input v-model.number="staff.gprice" placeholder="请输入价格" style="width: 250px;"></el-input>

									</el-form-item>
									<el-form-item label="供货商名称" prop="ghsid">

										<el-select v-model="staff.ghsid" style="width: 250px;">

											<el-option v-for="item in ssh" :label="item.ghsname" :value="item.ghsid" style="width: 250px;">
											</el-option>
										</el-select>

									</el-form-item>

									<el-form-item label="商品分类" class="gtype">
										<el-select v-model="staff.gtype" placeholder="请选择" @change="typechange" style="width: 250px;">
											<el-option label="发动机" value="发动机"></el-option>
											<el-option label="其他" value="其他"></el-option>
										</el-select>
									</el-form-item>
									<el-form-item label="商品品牌" class="gbrand">

										<el-select v-if="bool" v-model="staff.gbrand" placeholder="请选择" style="width: 250px;">
											<el-option v-for="item in pp" :label="item.ename" :value="item.eid" style="width: 250px;">
											</el-option>
										</el-select>
										<el-input v-if="bool==true?false:true" v-model="staff.gbrand" style="width: 250px;"></el-input>
									</el-form-item>

									<el-form-item label="适用车辆" class="gsuitable">
										<el-select v-model="staff.gsuitable" placeholder="请选择" style="width: 250px;">
											<el-option label="上海大众" value="上海大众"></el-option>
											<el-option label="红旗" value="红旗"></el-option>
										</el-select>
									</el-form-item>
									<el-form-item label="商品数量" prop="gnumber">

										<el-input v-model.number="staff.gnumber" style="width: 250px;"></el-input>

									</el-form-item>

									<el-form-item label="商品简介" prop="gdescribe">
										<el-input type="textarea" v-model="staff.gdescribe" style="width: 250px;"></el-input>
									</el-form-item>
									<el-form-item style="margin: 0px auto;width: 700px; text-align: right;">
										<el-button style="width: 150px;" type="primary" @click="submitForm()">立即创建</el-button>
										<el-button style="width: 150px;" @click="resetForm()">取消</el-button>
									</el-form-item>
								</el-form>
							</template>
						</el-dialog>
						<el-dialog  @opened="handlerOpen2" title="商品资料修改" :visible.sync="isshow2" width="900px" :before-close="handleClose">
							<div id="cnt2"></div>
						</el-dialog>

					</div>
				</div>
			</div>

		</div>

	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script>
		var yggl = new Vue({
			el: "#spgl",
			data: {
				bool: true,
				gid: null,
				pp: [],
				ssh: [],
				staff: {
					gid: 0,
					ghsid: '',
					gname: '',
					gtime: '',
					gprice: '',
					gbrand: "",
					gsuitable: '',
					gtype: '',
					gdescribe: '',
					gnumber: '',
				},
				rules: {
					gid: [{
						required: true,
						message: '请输入商品编号',
						trigger: 'blur'
					}],
					ghsid: [{
						required: true,
						message: '请选择',
						trigger: 'change'
					}],

					gname: [{
						required: true,
						message: '请输入商品名称',
						trigger: 'blur'
					}],
					/*gtype: [{
						required: true,
						message: '请选择',
						trigger: 'change'
					}],*/
					gtime: [{
						type: 'date',
						required: true,
						message: '请选择日期',
						trigger: 'change'
					}],
					gsuitable: [{
						required: true,
						message: '请填写',
						trigger: 'blur'
					}],
					gprice: [{
							required: true,
							message: '请填写价格',
							trigger: 'blur'
						}
						/*,
												{
													type: 'number',
													message: '必须为数字值'
												}*/
					]
				},
				activeName: "first",
				isshow1: false,
				isshow2: false,
				goods: {
					gname: ''
				},
				currentPage4: 1,
				lcgotopage: {},
				pageInfo: [],
				tableData: [{

					gid: '',
					ghsId: '',
					gname: '',
					gtime: '',
					gprice: '',
					gbrand: '',
					gsuitable: '',
					gtype: '',
					gdescribe: '',
					gnumber: '',
					lcSupplier: []
				}]

			},
			methods: {
//查询所有发动机品牌
				ss() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/lc/api/Goods/sss`, function(data) {
						_this.pp = data;
					});
				},
				//判断否是发动机添加
				typechange(val) {
					this.staff.gbrand = "";
					this.bool = val == "其他" ? false : true;
				},
				gysid() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/lc/api/Goods/sup`, function(data) {
						console.info(data);
						_this.ssh = data;
						/*console.info(ssh);*/
						/*$.each(data, function(i,obj) {
							var a=$("#sel").html();
							alert(a);
							  $("#sel").append('<option value="' + obj.ghsid + '">' + obj.ghsid + '</option>')
								
						});*/
					})
				},
				goodsByid() {
					let _this = this;

					$.getJSON(`http://127.0.0.1:8080/lc/api/Goods/ids/${_this.gid}`, function(date) {
						_this.staff = date;
						console.info(date);
					});
				},
				submitForm() {
					let _this = this;
					
					this.$refs['ruleForm'].validate(valid => {
						if(valid) {
							//验证通过
							//自定义加载块
							const loading = this.$loading({
								lock: true,
								text: '努力更新中....',
								spinner: 'el-icon-loading',
								background: 'rgba(0, 0, 0, 0.5)'
							});
							this.staff.gid=0;
							//延迟2秒，模拟网络延迟
							setTimeout(() => {
								$.ajax('http://localhost:8080/lc/api/Goods/addGoods', {
									type: 'post',
									data: JSON.stringify(this.staff),
									dataType: 'json',
									contentType: 'application/json',
									success(msg) {
										if(msg.code == "200") {
											loading.close(); //关闭加载块【非常重要】
											_this.$message({
												type: 'success',
												message: '新增成功'
											});
											_this.isshow1 = false;
											_this.lcgoTopage(1, 6, this.goods.gname);
										}
									}
								});
							}, 2000);
						} else {
							//验证失败
							//this.$alert('请按格式正确填写信息', '系统提示');
						}
					});

				},
				resetForm(formName) {
					this.isshow1 = false;
				},
				addgoods() {
					this.isshow1 = true;
				},
				names() {
					this.lcgoTopage(1, this.pageInfo.pageSize, this.goods.gname);
				},
				handleSizeChange(val) {
					this.currentPage4 = 1;
					this.lcgoTopage(this.currentPage4, val, this.goods.gname);

				},
				handleCurrentChange(val) {
					this.lcgoTopage(val, this.pageInfo.pageSize, this.goods.gname);
				},
				lcgoTopage(p, s, gname) {
					let _this = this;
					gname = gname == "" ? 'null' : gname;
					$.getJSON(`http://127.0.0.1:8080/lc/api/Goods/${p}/${s}/${gname}`, function(page) {
						_this.pageInfo = page;
						_this.currentPage4 = page.pageNum;
					});

				},
				shanchu(pid) {
					let _this = this;
					this.$confirm('是否移除商品信息?', '系统提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						$.ajax(`http://127.0.0.1:8080/lc/api/Goods/shanchu/${pid}`, {
							type: "delete",
							dataType: "json",
							success(data) {
								if(data.code == "500") {
									_this.$message(data.msg);
								} else {
									_this.$message({
										type: 'success',
										message: '删除成功!'
									});
									_this.lcgoTopage(1, 6, name);
								}
							}
						});
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});
				},
				showView(url) {
					window.location.href = url;
				},
				xiugai(gid,obj) {
					this.isshow2 = true;
					sessionStorage.setItem('iss', gid);
					sessionStorage.setItem('goods', JSON.stringify(obj));
				},
				/*关闭对话框*/

				handleClose(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				},

				handlerOpen2() {
					$("#cnt2").load('商品修改.html'); //ajax读取页面
				},
			},
			mounted() {
				let _this = this; //非常重要
				_this.gysid();
				_this.ss();
			/*	var date = new Date();
				now = date.getFullYear() + "" + (date.getMonth() + 1) + "" + date.getDate() + "" + date.getHours() + "" + date.getMinutes() + "" + date.getSeconds();
				_this.staff.gid = now;*/
				_this.lcgoTopage(1, 6, this.goods.gname);

			}
		})
	</script>

</html>