<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title>商品资料管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="stylesheet" href="../css/font.css">
		<link rel="stylesheet" href="../css/xadmin.css">
		<script src="../lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/xadmin.js"></script>

		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<style>
			.demo-table-expand {
				font-size: 0;
			}
			
			.demo-table-expand label {
				width: 90px;
				color: #99a9bf;
			}
			
			.demo-table-expand .el-form-item {
				margin-right: 0;
				margin-bottom: 0;
				width: 50%;
			}
			
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="layui-fluid" id="yggl" v-cloak>
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-body ">
							<el-form :inline="true" :model="goods" class="demo-form-inline" align="center">
								<el-form-item label="徳召文商品管理" style="margin-left: 10ex;">
									<el-input v-model="goods.gname" placeholder='商品名称 ' size="mini"></el-input>

								</el-form-item>
								<el-form-item>
									<div class="layui-inline layui-show-xs-block">
										<el-row>
											<el-button type="primary" size="mini" @click="names">查询信息</el-button>
											<el-button type="success" size="mini" @click="addgoods">新增信息</el-button>
										</el-row>
									</div>

								</el-form-item>
							</el-form>
						</div>
						<div class="layui-card-body layui-table-body layui-table-main">
							<el-table :data="pageInfo.list" style="width: 100%; ">
								<el-table-column label="商品资料管理" align="center">
									<el-table-column type="expand">
										<template slot-scope="props">
											<el-form label-position="left" inline class="demo-table-expand">
												<el-form-item label="供应商编号">
													<span>{{ props.row.lcSupplier.ghsId}}</span>
												</el-form-item>
												<el-form-item label="供应商名称">
													<span>{{ props.row.lcSupplier.ghsname}}</span>
												</el-form-item>
												<el-form-item label="供货商地址">
													<span>{{ props.row.lcSupplier.ghsaddress}}</span>
												</el-form-item>
												<el-form-item label="联系电话">
													<span>{{ props.row.lcSupplier.ghsphone}}</span>
												</el-form-item>
												<el-form-item label="联系人">
													<span>{{ props.row.lcSupplier.ghsuser}}</span>
												</el-form-item>
												<el-form-item label="打款账号">
													<span>{{ props.row.lcSupplier.ghsaccount}}</span>
												</el-form-item>
											</el-form>
										</template>
									</el-table-column>

									<el-table-column prop="gid" align="center" label="商品编号" width="120">
									</el-table-column>
									<el-table-column prop="gname" align="center" label="商品名称" width="120">
									</el-table-column>
									<el-table-column prop="gtime" align="center" label="出产日器" width="120">
									</el-table-column>
									<el-table-column prop="gbrand" align="center" label="商品品牌" width="120">
									</el-table-column>
									<el-table-column prop="gsuitable" align="center" label="适用车辆" width="120">
									</el-table-column>
									<el-table-column prop="gprice" align="center" label="商品价格" width="120">
									</el-table-column>
									<el-table-column prop="gtype" align="center" label="商品分类" width="120">
									</el-table-column>
									<el-table-column prop="gdescribe" align="center" label="商品简介" width="180">
									</el-table-column>
									<el-table-column label="操作" align="center">
										<template slot-scope="temp">
											<i class="el-icon-s-tools" @click="xiugai(temp.row.gid)"></i>&nbsp;&nbsp;
											<i class="el-icon-delete" @click="shanchu(temp.row.gid)"></i>
										</template>
									</el-table-column>

								</el-table-column>
							</el-table>

						</div>
						<div class="layui-card-body ">
							<div style="text-align: center;">
								<template>
									<div class="block">

										<el-pagination v-if="pageInfo.total!=0" :background="true" :pager-count="4" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageInfo.pageNum" :page-size="pageInfo.pageSize" :total="pageInfo.total" :page-sizes="[3,6]" layout="total, sizes, prev, pager, next, jumper">
										</el-pagination>
									</div>
								</template>
							</div>
						</div>

						<el-dialog :destroy-on-close="true" @opened="handlerOpen1" title="商品资料添加" :visible.sync="isshow1" width="900px" :before-close="handleClose">
							<div id="cnt1"></div>
						</el-dialog>
							<el-dialog :destroy-on-close="true" @opened="handlerOpen2" title="商品资料修改" :visible.sync="isshow2" width="900px" :before-close="handleClose">
							<div id="cnt2"></div>
						</el-dialog>

					</div>
				</div>
			</div>

		</div>

	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script>
		var yggl = new Vue({
			el: "#yggl",
			data: {
				activeName: "first",
				isshow1: false,
				isshow2:false,
				goods: {
					gname: null
				},
				currentPage4: 4,
				lcgotopage: {},
				pageInfo: [],
				tableData: [{

					gid: '',
					ghsId: '',
					gname: '',
					gtime: '',
					gprice: '',
					gbrand: '',
					gsuitable: '',
					gtype: '',
					gdescribe: '',
					gnumber: '',
					lcSupplier: []
				}]
				
			},
			methods: {

				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				addgoods() {
					this.isshow1 = true;
				},
				names() {
					this.lcgoTopage(1, 2, this.goods.gname);
				},
				handleSizeChange(val) {

					this.lcgoTopage(this.pageInfo.pageNum, val, this.goods.gname);

				},
				handleCurrentChange(val) {
					this.lcgoTopage(val, this.pageInfo.pageSize, this.goods.gname);
				},
				lcgoTopage(p, s, gname) {
					let _this = this;

					if(gname == "") {
						gname = null;
						$.getJSON(`http://127.0.0.1:8080/lc/api/Goods/${p}/${s}/${gname}`, function(page) {
							_this.pageInfo = page;
						});
					} else {
						$.getJSON(`http://127.0.0.1:8080/lc/api/Goods/${p}/${s}/${gname}`, function(page) {
							_this.pageInfo = page;
						});
					}

				},
				shanchu(pid) {
					let _this = this;
					this.$confirm('是否移除商品信息?', '系统提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						$.ajax(`http://127.0.0.1:8080/lc/api/Goods/shanchu/${pid}`, {
							type: "delete",
							dataType: "json",
							success(data) {
								if(data.code == "500") {
									_this.$message(data.msg);
								} else {
									_this.$message({
										type: 'success',
										message: '删除成功!'
									});
									_this.showView('商品资料管理.html');
								}
							}
						});
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});
				},
				showView(url) {
					window.location.href = url;
				},
				xiugai(gid) {
					this.isshow2 = true;
					sessionStorage.setItem('iss', gid);
				},
				/*关闭对话框*/

				handleClose(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							this.radio = "";
							done();
						})
						.catch(_ => {});
				},
				handlerOpen1() {
					$("#cnt1").load('商品添加.html'); //ajax读取页面
				},
				handlerOpen2() {
					$("#cnt2").load('商品修改.html'); //ajax读取页面
				},
			},
			mounted() {
				let _this = this; //非常重要
				_this.lcgoTopage(1, 2, this.goods.gname);
				

			}
		})
	</script>

</html>