<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title></title>

		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>

		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<style>
			i {
				color: #27A9E3;
			}
		</style>
	</head>

	<body>
		<div id="sss">
			<el-form :model="staff" ref="ruleForm" label-width="120px" class="demo-ruleForm">
				<el-form-item label="商品编号" prop="gid">
					<el-col :span="12">
						<el-input v-model="staff.gid" :disabled="true" placeholder="请输入"></el-input>
					</el-col>
				</el-form-item>
				<el-form-item label="商品姓名" prop="gname">
					<el-col :span="12">
						<el-input v-model="staff.gname" placeholder="请输入"></el-input>
					</el-col>
				</el-form-item>
				<el-form-item label="商品价格" prop="ghsid">
					<el-col :span="12">

						<el-select v-model="staff.ghsid">
							<el-option v-for="item in ssh" :key="item.ghsid" :value="item.ghsid">
							</el-option>
						</el-select>

					</el-col>
				</el-form-item>

				<el-form-item label="商品价格" prop="gprice">

					<el-col :span="12">
						<el-input v-model="staff.gprice" placeholder="请输入商品型号"></el-input>
					</el-col>
				</el-form-item>

				<el-form-item label="商品出产日期" required>
					<el-col :span="12">
						<el-form-item prop="gtime">
							<el-date-picker type="date" placeholder="请输入商品出产日期" v-model="staff.gtime" style="width: 100%;"></el-date-picker>
						</el-form-item>
					</el-col>
				</el-form-item>
				<el-form-item label="商品品牌" class="gbrand">
					<el-select v-model="staff.gbrand" placeholder="请选择">
						<el-option label="通用汽车用品品牌" value="通用汽车用品品牌"></el-option>
						<el-option label="得力工具自营品牌" value="通用汽车用品品牌"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="适用车辆" class="gsuitable">
					<el-select v-model="staff.gsuitable" placeholder="请选择">
						<el-option label="上海大众" value="上海大众"></el-option>
						<el-option label="红旗" value="红旗"></el-option>
					</el-select>
				</el-form-item>

				<el-form-item label="商品分类" class="gtype">
					<el-select v-model="staff.gtype" placeholder="请选择">
						<el-option label="发动机" value="发动机"></el-option>
						<el-option label="车身" value="车身"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="商品数量" prop="gnumber">
					<el-col :span="12">
						<el-input v-model.number="staff.gnumber"></el-input>
					</el-col>
				</el-form-item>
				</el-form-item>

				<el-form-item label="商品简介" prop="gdescribe">
					<el-col :span="12">
						<el-input type="textarea" v-model="staff.gdescribe"></el-input>
					</el-col>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="submitForm()">立即创建</el-button>
					<el-button @click="resetForm('ruleForm')">重置</el-button>
				</el-form-item>
			</el-form>
		</div>

	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script>
		var yggl = new Vue({
			el: "#sss",
			data: {
				gid: null,
				ssh: [],
				staff: {
					gid: '',
					ghsid: '',
					gname: '',
					gtime: '',
					gprice: '',
					gbrand: "",
					gsuitable: '',
					gtype: '',
					gdescribe: '',
					gnumber: '',
				}
			},

			methods: {
				goodsByid() {
					let _this = this;

					$.getJSON(`http://127.0.0.1:8080/lc/api/Goods/ids/${_this.gid}`, function(date) {
						_this.staff = date;
					});
				},
				submitForm() {
					let _this = this;

					$.ajax(`http://127.0.0.1:8080/lc/api/Goods/modeil`, {
						type: "put",
						contentType: "application/json",
						data: JSON.stringify(_this.staff),
						dataType: "json",
						success(date) {
							if(date.code == "200") {
								_this.$message(date.msg);

							} else {
								_this.$message(date.msg);
							}
						}
					});
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				gysid() {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/lc/api/Goods/sup`, function(data) {
						console.info(data);
						_this.ssh = data;
						/*$.each(data, function(i,obj) {
							var a=$("#sel").html();
							alert(a);
							  $("#sel").append('<option value="' + obj.ghsid + '">' + obj.ghsid + '</option>')
								
						});*/
					})
				}
			},
			mounted() {
				let _this = this; //非常重要
				_this.gysid();
				_this.gid = sessionStorage.getItem('iss');
				sessionStorage.setItem('iss', null);
				if(_this.gid != null) {
					this.goodsByid();
				}

			}
		})
	</script>

</html>