<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			i {
				color: #27A9E3;
			}
			
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div id="sss" v-cloak>
			<el-form :model="staff" :inline="true" :rules="rules" ref="ruleForm" label-width="100px" class="demo-form-inline">
				<el-form-item label="商品编号">
					<el-input v-model="staff.gid" :disabled="true" style="width: 250px;"></el-input>
				</el-form-item>
				<el-form-item label="商品名称" placeholder="请输入姓名" prop="gname">

					<el-input v-model="staff.gname" style="width: 250px;"></el-input>

				</el-form-item>

				<el-form-item label="出产日期" required>

					<el-form-item prop="gtime" style="width: 242px;">
						<el-date-picker type="date" placeholder="请输入" v-model="staff.gtime" style="width: 250px;"></el-date-picker>
					</el-form-item>

				</el-form-item>

				<el-form-item label="商品价格" prop="gprice">

					<el-input v-model.number="staff.gprice" placeholder="请输入价格" style="width: 250px;"></el-input>

				</el-form-item>
				<el-form-item label="供货商名称" prop="ghsid">

					<el-select v-model="staff.ghsid" style="width: 250px;">

						<el-option v-for="item in ssh" :label="item.ghsname" :value="item.ghsid" style="width: 250px;">
						</el-option>
					</el-select>

				</el-form-item>

				<el-form-item label="商品分类" class="gtype">
					<el-select v-model="staff.gtype" placeholder="请选择" @change="typechange" style="width: 250px;">
						<el-option label="发动机" value="发动机"></el-option>
						<el-option label="其他" value="其他"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="商品品牌" class="gbrand">

					<el-select v-if="staff.gtype!='其他'"  @change="typechange" v-model="staff.gbrand" placeholder="请选择" style="width: 250px;">
						<el-option v-for="item in pp" :label="item.ename" :value="item.ename" style="width: 250px;">
						</el-option>
					</el-select>
					<el-input v-if="staff.gtype=='其他'" v-model="staff.gbrand" style="width: 250px;"></el-input>
				</el-form-item>

				<el-form-item label="适用车辆"  class="gsuitable">
					<el-select v-model="staff.gsuitable" placeholder="请选择" style="width: 250px;">
												
											<el-option key="宝马" label="宝马" value="宝马">
									</el-option>
									<el-option key="大众" label="大众" value="大众">
									</el-option>
									<el-option key="奔驰" label="奔驰" value="奔驰">
									</el-option>
									<el-option key="本田" label="本田" value="本田">
									</el-option>
									<el-option key="奥迪" label="奥迪" value="奥迪">
									</el-option>
									<el-option key="比亚迪" label="比亚迪" value="比亚迪">
									</el-option>
									<el-option key="通用车型" label="通用车型" value="通用车型">
									</el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="商品数量" prop="gnumber">

					<el-input v-model.number="staff.gnumber" style="width: 250px;"></el-input>

				</el-form-item>

				<el-form-item label="商品简介" prop="gdescribe">
					<el-input type="textarea" v-model="staff.gdescribe" style="width: 250px;"></el-input>
				</el-form-item>
				<el-form-item style="margin: 0px auto;width: 700px; text-align: right;">
					<el-button style="width: 150px;" type="primary" @click="submitForm()">立即创建</el-button>
					<el-button style="width: 150px;" @click="colse">取消</el-button>
				</el-form-item>
			</el-form>
		</div>

	</body>
	<script>
		var  goodsUpdate= new Vue({
			el: "#sss",
			data: {
				bool: true,
				dialogVisible: false,
				gid: null,
				ssh: [],
				staff: {
					gid: '',
					ghsid: '',
					gname: '',
					gtime: '',
					gprice: '',
					gbrand: "",
					gsuitable: '',
					gtype: '',
					gdescribe: '',
					gnumber: '',
				},
				rules:{
					
					gid: [{
						required: true,
						message: '请输入商品编号',
						trigger: 'blur'
					}],
					ghsid: [{
						required: true,
						message: '请选择',
						trigger: 'change'
					}],
					gbrand:[{
						required: true,
						message: '请选择',
						trigger: 'change'
					}],
					gname: [{
						required: true,
						message: '请输入商品名称',
						trigger: 'blur'
					}],
					gtype: [{
						required: true,
						message: '请选择',
						trigger: 'change'
					}],
					gtime: [{
						
						required: true,
						message: '请选择日期',
						trigger: 'change'
					}],
					gsuitable: [{
						required: true,
						message: '请填写',
						trigger: 'blur'
					}],
					gprice: [{
							required: true,
							message: '请填写价格',
							trigger: 'blur'
						}
						/*,
												{
													type: 'number',
													message: '必须为数字值'
												}*/
					]
				
				}
			},

			methods: {
				typechange(){
					if(this.staff.gtype=="其他"){
						this.staff.gbrand ="";
					}
					
				},
				change(){
					
				},
				colse(){
					yggl.isshow2 = false;
				},
				goodsByid() {
					let _this = this;
					
					///所有发动机
					$.getJSON(`http://127.0.0.1:8080/lc/api/Goods/sss`, function(data) {
						_this.pp = data;
					});

					$.getJSON(`http://127.0.0.1:8080/lc/api/Goods/ids/${_this.gid}`, function(date) {
						_this.staff = date;
					});
				},
				submitForm() {
					let _this = this;
					
						this.$refs['ruleForm'].validate(valid => {
						if(valid) {
							_this.$delete(_this.staff,'lcSupplier')
							$.ajax(`http://127.0.0.1:8080/lc/api/Goods/modeil`, {
						type: "put",
						contentType: "application/json",
						data: JSON.stringify(_this.staff),
						dataType: "json",
						success(date) {
							if(date.code == "200") {
								_this.$message({
												type: 'success',
												message: '操作成功'
											});
									yggl.lcgoTopage(1, 8,"");		
								yggl.isshow2 = false;

							} else {
								_this.$message(date.msg);
							}
						}
					});	
							
							
						} else {
							
						}
					});
					
					

				
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				gysid() {
					let _this = this;
						$.getJSON(`http://127.0.0.1:8080/lc/api/Goods/sss`, function(data) {
						_this.pp = data;
					});
					$.getJSON(`http://127.0.0.1:8080/lc/api/Goods/sup`, function(data) {
						//console.info(data);
						_this.ssh = data;
					})
				},
				pp(){}
			},
			mounted() {
				let _this = this; //非常重要
				_this.gysid();
				_this.gid = sessionStorage.getItem('iss');
				sessionStorage.setItem('iss', null);
				_this.staff=JSON.parse(sessionStorage.getItem('goods'));
				

			}
		})
	</script>

</html>