<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>会员管理</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body style="background-color: #e6e6e6;">
		<div id="kehuziliao" style="background-color: white;padding: 2ex;" v-cloak>

			<h2 style="margin-left: 3ex;padding: 1ex;margin-top: 0px;">会员管理</h2>
			<span style="display: block;margin-bottom: 3ex;margin-left: 5ex;">会员名称：
    <el-input
    	style="width: 200px;"
    	size="mini"
  placeholder="请输入内容"
  v-model="input"
  clearable>
</el-input>

    <el-button type="primary"size="mini" @click="queryClick(input)"><span class="el-icon-search"  ></span></el-button>
			<el-button type="success" size="mini" @click="daochu">导出</el-button>
			</span>
			<template>
				<el-table max-height="500" :data="pageInfo.list" border :header-cell-style="{background:'#eef1f6'}" stripe style="width: 100%">
					<el-table-column type="expand" fixed>
						详细:
					</el-table-column>
					<el-table-column width="150" label="会员卡号" prop="ckahaok">
					</el-table-column>
					<el-table-column label="名称" width="" prop="cnamek">
					</el-table-column>
					<el-table-column label="性别" width="" prop="csexk">
					</el-table-column>
					<el-table-column label="号码" width="" prop="cphonek">
					</el-table-column>
					<el-table-column label="积分" width="" prop="cdoublerk">
					</el-table-column>
					<el-table-column label="余额" width="" prop="cmoneyk">
					</el-table-column>
					<el-table-column label="操作">
						<template slot-scope="temp">
							<el-button size="mini" type="primary" @click="chongzhi(temp.row)">充值</el-button>
						</template>
					</el-table-column>
				</el-table>
			</template>
			<el-dialog :destroy-on-close="true" @opened="handlerOpen1" title="充值" :visible.sync="isshow1" width="33%" :before-close="handleClose">
				<span style="display: block;margin-bottom: 3ex;margin-left: 5ex;">充值余额：
    <el-input
    	style="width: 200px;"
    	size="mini"
  placeholder="请输入充值余额"
  v-model="chonzhiyve"
  clearable>
</el-input>     <el-button type="primary"size="mini" @click="querenchongzhi">充值</el-button>

			</el-dialog>
		</div>

	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script>
		var gangwei = new Vue({
			el: "#kehuziliao",
			data: {
				pageInfo: [],
				isshow1: false,
				chonzhiyve:'',
				objects:''
			},
			methods: {
				querenchongzhi(){
					var this_=this;
					if (this.chonzhiyve=="") {
						alert("请输入余额")
					}else{
						var suns=parseInt(JSON.stringify(this_.objects.cmoneyk))+parseInt(this_.chonzhiyve);
						this.objects.cmoneyk=suns;
						$.ajax(`http://127.0.0.1:8080/CqqCustomerAction/api/update`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(this_.objects),
						dataType: "json",
						success(date) {
							if(date > 0) {
								alert("充值成功")
								this.objects='';
								this_.isshow1=false;
							} else {
								alert("充值不成功")
							}
						}
					});
					}
				},
				chongzhi(id) {
					this.objects=id;
					this.isshow1 = true;
				},
				goToPage(n, s) {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/CqqCustomerAction/api/${n}/${s}`, function(date) {
						_this.pageInfo = date;
					});
				}
			},
			mounted() {
				this.goToPage(1, 3);
			}
		})
	</script>

</html>