<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>会员管理</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body style="background-color: #e6e6e6;">
		<div id="kehuziliao" style="background-color: white;padding: 2ex;" v-cloak>

			<span style="display: block;margin-bottom: 3ex;margin-left: 5ex;">会员名称：
    <el-input
    	style="width: 200px;"
    	size="mini"
  placeholder="请输入内容"
  v-model="input"
  clearable>
</el-input>

    <el-button type="primary"size="mini" @click="queryClick"><span class="el-icon-search"  ></span></el-button>
			<!--<el-button type="success" size="mini" @click="">导出</el-button>-->
			</span>
			<template>
				<el-table max-height="500" :data="pageInfo.list" border :header-cell-style="{background:'#eef1f6'}" stripe style="width: 100%">
				<!--	<el-table-column type="expand" fixed>
						详细:
					</el-table-column>-->
					<el-table-column width="150" label="会员卡号" prop="ckahaok">
					</el-table-column>
					<el-table-column label="名称" width="" prop="cnamek">
					</el-table-column>
					<el-table-column label="性别" width="" prop="csexk">
					</el-table-column>
					<el-table-column label="号码" width="" prop="cphonek">
					</el-table-column>
					<el-table-column label="积分" width="" prop="cdoublerk">
					</el-table-column>
					<el-table-column label="余额" width="" prop="cmoneyk">
					</el-table-column>
					<el-table-column label="操作">
						<template slot-scope="temp">
							<el-button size="mini" type="primary" @click="chongzhi(temp.row)">充值</el-button>
						</template>
					</el-table-column>
				</el-table>
				
			</template>
		<div class="block" style="text-align: center;margin-top: 3ex;">
							<el-pagination @size-change="handleSizeChange"
								 @current-change="handleCurrentChange" 
								:current-page="currentPage5"
								 :page-sizes="[10,6,3]" 
								:page-size="pageInfo.pageSize" 
								layout="total, sizes, prev, pager, next, jumper" 
								:total="pageInfo.total">
							</el-pagination>
						</div>
			<el-dialog  style="text-align: center;height: 300px;" align="center"  title="充值" :visible.sync="isshow1"  width="33%" :before-close="handleClose">
				<span style="display: block;margin-bottom: 3ex;margin-left: 5ex;">充值余额：
    <el-input
    	style="width: 150px;"
    	size="mini"
  placeholder="请输入充值余额"
  v-model="chonzhiyve"
  clearable>
</el-input>     
<div style="text-align: center;margin-top: 5ex;">
	<el-button style="margin-right: 3ex;" type="primary"  size="mini" :disabled="zfb" @click="querenchongzhi">现金充值</el-button>
<el-button type="primary" size="mini" @click="zhifu" :loading="zfb">支付宝扫码</el-button>
	
</div>


			</el-dialog>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script>
		var gangwei = new Vue({
			el: "#kehuziliao",
			data: {
				zfb:false,
				currentPage5:1,
				input:'',
				pageInfo: {},
				isshow1: false,
				chonzhiyve:'',
				objects:'',
				dh:"",
				i:0
				
			},
			methods: {
				handleSizeChange(val) {
					this.currentPage5= 1;
					this.goToPage(1, val);
					//console.log(`每页 ${val} 条`);
				},
				handleCurrentChange(val) {
					this.goToPage(val, this.pageInfo.pageSize);
					//console.log(`当前页: ${val}`);
				},
				queryClick(){
					this.goToPage(1,10);
				},
				zhifu(){
					var this_=this;
					if (this.chonzhiyve=="") {
						this.$alert("请输入余额");
					}else{
					this.zfb=true;
					sessionStorage.setItem("yfmoney",this.chonzhiyve);
					sessionStorage.setItem("YUE","yes");
					var date=new Date();
					var date=new Date();
					now=date.getFullYear()+""+(date.getMonth()+1)+""+date.getDate()+""+date.getHours()+""+date.getMinutes()+""+date.getSeconds();
					this.dh=now;
					sessionStorage.setItem("dh",this.dh);
					sessionStorage.setItem("objects",JSON.stringify(this.objects));
					this.zfb=true;
					this.typeif();
					window.open("../zyh/二维码支付.html");
					
					}
				},
				typeif(){
					let _this=this;
					$.getJSON(`http://127.0.0.1:8080/AlipayAction/api/queryStatuc/${this.dh}`, function(data) {
						/*_this.statuc=data;*/
						console.log(data)
						if(data=="FAILED"){
							setTimeout(()=>{
								_this.i++;
								if(_this.i==61){
									return
								}
								_this.typeif();
									},"2000")
						
						}
						if(data=="SUCCESS"){
							
										_this.zfb=false;
										_this.isshow1 = false;
										_this.chonzhiyve="";
								 setTimeout(()=>{
        	_this.goToPage(1, 10);
        },"1000")
        
							_this.closetypey();
						}
					});
					
					
					
				},
							closetypey(){
					 this.$notify({
          title: '支付提示',
          message: '支付成功',
          type: 'success'
        });
       
        
				}
				,
				querenchongzhi(){
			
					var this_=this;
					if (this.chonzhiyve=="") {
						this.$alert("请输入余额");
					}else{
						var suns=parseInt(JSON.stringify(this_.objects.cmoneyk))+parseInt(this_.chonzhiyve);
						this.objects.cmoneyk=suns;
						$.ajax(`http://127.0.0.1:8080/CqqCustomerAction/api/update`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(this_.objects),
						dataType: "json",
						success(date) {
							if(date > 0) {
								this_.$alert("充值成功")
								this.objects='';
								this_.isshow1=false;
							} else {
								this_.$alert("充值不成功")
							}
						}
					});
					}
				},
				chongzhi(id) {
					this.objects=id;
					this.isshow1 = true;
				},
				goToPage(n, s) {
					val=this.input==""?'null':this.input;
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/CqqCustomerAction/api/${n}/${s}/${val}`, function(date) {
						_this.pageInfo = date;
						console.log(JSON.stringify(date.list))
						_this.currentPage5 = date.pageNum;
					});
				},/*详细信息关闭*/
				handleClose(done) {
					let _this=this;
					this.$confirm('确认关闭？')
						.then(_ => {
							_this.zfb=false;
							done();
						})
						.catch(_ => {});
				}
			},
			mounted() {
				this.goToPage(1, 10);
			}
		})
	</script>

</html>