<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>结算中心</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />

		<style>
			.el-table .warning-row {
				background: oldlace;
			}
			
			.el-table .success-row {
				background: #f0f9eb;
			}
		</style>
	</head>

	<body>
		<div id="lzdjApp">
			<el-row style="margin-bottom: 20px;">
				<el-col :span="8">
					<h1 style="font-size: 24px;">结算中心</h1>
				</el-col>
				<el-col :span="12">
					&nbsp
				</el-col>
				<el-col :span="4">
					<el-button type="info">关闭</el-button>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="18">
					123的联系人
				</el-col>
				<el-col :span="6">
					<el-button type="primary" plain>添加</el-button>
					<el-button type="primary" plain>删除</el-button>
					<el-button type="primary" plain>保存</el-button>
				</el-col>
			</el-row>
			<el-row>
				<template>
					<el-form :inline="true" :model="formInline" class="demo-form-inline">
						<el-form-item label="销售单号">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="手机">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="职位">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="电话">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="Email">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
					</el-form>
				</template>
			</el-row>
			<el-table ref="singleTable" :data="lizhi" highlight-current-row @current-change="handleCurrentChange" style="width: 100%">
				<el-table-column type="index" width="50">
				</el-table-column>
				<el-table-column property="bumen" label="联系人" width="120">
				</el-table-column>
				<el-table-column property="no" label="职位" width="120">
				</el-table-column>
				<el-table-column property="name" label="手机">
				</el-table-column>
				<el-table-column property="sex" label="电话">
				</el-table-column>
				<el-table-column property="zhiwei" label="Email">
				</el-table-column>
			</el-table>
			<el-dialog :destroy-on-close="true" @opened="handlerOpen1" title="员工卡片" :visible.sync="isshow1" width="99%" :before-close="handleClose">
				<div id="cnt1"></div>
			</el-dialog>
			<el-dialog :destroy-on-close="true" @opened="handlerOpen2" title="离职登记" :visible.sync="isshow2" width="99%" :before-close="handleClose">
				<div id="cnt2"></div>
			</el-dialog>
		</div>

	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>

	<script>
		var lzdjApp = new Vue({
			el: '#lzdjApp',
			data: {
				formInline: {
					user: '',
					region: ''
				},
				pickerOptions: {
					disabledDate(time) {
						return time.getTime() > Date.now();
					},
					shortcuts: [{
						text: '今天',
						onClick(picker) {
							picker.$emit('pick', new Date());
						}
					}, {
						text: '昨天',
						onClick(picker) {
							const date = new Date();
							date.setTime(date.getTime() - 3600 * 1000 * 24);
							picker.$emit('pick', date);
						}
					}, {
						text: '一周前',
						onClick(picker) {
							const date = new Date();
							date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
							picker.$emit('pick', date);
						}
					}]
				},
				isshow1: false,
				isshow2: false,
				name: '',
				currentRow: null,
				lizhi: [{
						bumen: '管钱部',
						no: 'OME0001',
						name: '张三',
						sex: '男',
						zhiwei: '销售经理',
						time: '2019-09-09',
						txt: 'jdlkasjd'
					},
					{
						bumen: '管钱部',
						no: 'OME0002',
						name: '李四',
						sex: '女',
						zhiwei: '销售总监',
						time: '2019-09-09',
						txt: 'jdlkasjd'

					}
				]
			},
			methods: {
				handlerOpen1() {
					$("#cnt1").load('员工卡片.html'); //ajax读取页面
				},
				handlerOpen2() {
					$("#cnt2").load('离职.html'); //ajax读取页面
				},
				handleClose(done) {
					this.$confirm('确认关闭？').then(_ => {
						done();
					}).catch(_ => {});
				},
				dakai() {
					this.isshow1 = true;
				},
				lizhidj() {
					this.isshow2 = true;
				},
				handleCurrentChange(val) {
					this.currentRow = val;
					alert(JSON.stringify(this.currentRow));
				}
			}
		});
	</script>

</html>