<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>供货单位修改</title>
		<style>
			.el-table .warning-row {
				background: oldlace;
			}
			
			.el-table .success-row {
				background: #f0f9eb;
			}
		</style>
	</head>

	<body>
		<div id="gonghuodanweitianjia">
			<el-row>
				<template>
					<el-form :inline="true" :model="formInline" class="demo-form-inline">
						<el-form-item label="供货商id">
							<el-input v-model="Supplier.ghsid" placeholder="供货商id" :disabled="true"></el-input>
						</el-form-item>
						<el-form-item label="供货商名称">
							<el-input v-model="Supplier.ghsname" placeholder="供货商名称"></el-input>
						</el-form-item>
						<el-form-item label="供货商地址">
							<el-input v-model="Supplier.ghsaddress" placeholder="供货商地址"></el-input>
						</el-form-item>
						<el-form-item label="供货商联系电话">
							<el-input v-model="Supplier.ghsphone" placeholder="供货商联系电话"></el-input>
						</el-form-item>
						<el-form-item label="联系人">
							<el-input v-model="Supplier.ghsuser" placeholder="联系人"></el-input>
						</el-form-item>
						<el-form-item label="打款账号">
							<el-input v-model="Supplier.ghsaccount" placeholder="打款账号"></el-input>
						</el-form-item>
					</el-form>
				</template>
			</el-row>
			<div>
				<el-button type="warning" plain @click="baocun">保存</el-button>
				<el-button type="info" plain @click="guanbi">关闭</el-button>
			</div>
		</div>
	</body>
	<script>
		var lzdjApp = new Vue({
			el: '#gonghuodanweitianjia',
			data: {
				Supplier: {},
			},
			methods: {
				baocun() {
					var this_ = this;
					kehuziliao.isshow1 = false;
					$.ajax(`http://127.0.0.1:8080/CqqSupplierAction/api/update`, {
						type: "post",
						contentType: "application/json",
						data: JSON.stringify(this_.Supplier),
						dataType: "json",
						success(date) {
							if(date > 0) {
								alert("修改成功")
								kehuziliao.isshow1 = false;
							} else {
								alert("修改不成功")
							}
						}
					});
				},
				handleClose(done) {
					this.$confirm('确认关闭？').then(_ => {
						done();
					}).catch(_ => {});
				},
				guanbi() {},
				handleCurrentChange(val) {
					this.currentRow = val;
					alert(JSON.stringify(this.currentRow));
				},
				selectPojo(id) {
					var _this = this;
					$.getJSON(`http://127.0.0.1:8080/CqqSupplierAction/api/${id}`, function(date) {
						_this.Supplier = date;
					});
				}
			},
			mounted() {
				this.selectPojo(sessionStorage.getItem("id"));
			}
		});
	</script>

</html>