<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>供货单位添加</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />

		<style>
			.el-table .warning-row {
				background: oldlace;
			}
			
			.el-table .success-row {
				background: #f0f9eb;
			}
		</style>
	</head>

	<body>
		<div id="lzdjApp">
			<el-row>
				<template>
					<el-form :inline="true" :model="formInline" class="demo-form-inline">
						<el-form-item label="厂商代码">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="厂商名称">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="地址">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="经营情况">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="网址">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="开户行">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="银行账号">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="付款方式">
							<el-select v-model="formInline.region" placeholder="活动区域">
								<el-option label="区域一" value="shanghai"></el-option>
								<el-option label="区域二" value="beijing"></el-option>
							</el-select>
						</el-form-item>
						<el-form-item label="厂商等级">
							<el-select v-model="formInline.region" placeholder="活动区域">
								<el-option label="区域一" value="shanghai"></el-option>
								<el-option label="区域二" value="beijing"></el-option>
							</el-select>
						</el-form-item>
						<el-form-item label="经营品牌">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="厂商类别">
							<el-select v-model="formInline.region" placeholder="活动区域">
								<el-option label="区域一" value="shanghai"></el-option>
								<el-option label="区域二" value="beijing"></el-option>
							</el-select>
						</el-form-item>
						<el-form-item label="联系人">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="电话">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="手机">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>

						<el-form-item label="Email1">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
						<el-form-item label="帐期（天）">
							<el-date-picker v-model="value2" align="right" type="date" placeholder="选择日期" :picker-options="pickerOptions">
							</el-date-picker>
						</el-form-item>

						<el-form-item label="备注">
							<el-input v-model="formInline.user" placeholder="登录账号"></el-input>
						</el-form-item>
					</el-form>
				</template>
			</el-row>
			<div>
				<el-button type="warning" plain @click="xinzeng">保存</el-button>
				<el-button type="info" plain @click="quxiao">关闭</el-button>
			</div>
		</div>

	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>

	<script>
		var lzdjApp = new Vue({
			el: '#lzdjApp',
			data: {
				activeName: 'second',
				formInline: {
					user: '',
					region: ''
				},
				pickerOptions: {
					disabledDate(time) {
						return time.getTime() > Date.now();
					},
					shortcuts: [{
						text: '今天',
						onClick(picker) {
							picker.$emit('pick', new Date());
						}
					}, {
						text: '昨天',
						onClick(picker) {
							const date = new Date();
							date.setTime(date.getTime() - 3600 * 1000 * 24);
							picker.$emit('pick', date);
						}
					}, {
						text: '一周前',
						onClick(picker) {
							const date = new Date();
							date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
							picker.$emit('pick', date);
						}
					}]
				},
				isshow1: false,
				isshow2: false,
				name: '',
				currentRow: null,
				lizhi: [{
						bumen: '管钱部',
						no: 'OME0001',
						name: '张三',
						sex: '男',
						zhiwei: '销售经理',
						time: '2019-09-09',
						txt: 'jdlkasjd'
					},
					{
						bumen: '管钱部',
						no: 'OME0002',
						name: '李四',
						sex: '女',
						zhiwei: '销售总监',
						time: '2019-09-09',
						txt: 'jdlkasjd'

					}
				]
			},
			methods: {
				handlerOpen1() {
					$("#cnt1").load('员工卡片.html'); //ajax读取页面
				},
				handlerOpen2() {
					$("#cnt2").load('离职.html'); //ajax读取页面
				},
				handleClose(done) {
					this.$confirm('确认关闭？').then(_ => {
						done();
					}).catch(_ => {});
				},
				dakai() {
					this.isshow1 = true;
				},
				lizhidj() {
					this.isshow2 = true;
				},
				handleCurrentChange(val) {
					this.currentRow = val;
					alert(JSON.stringify(this.currentRow));
				}
			}
		});
	</script>

</html>