<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>离职登记</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />

		<style>
			.el-table .warning-row {
				background: oldlace;
			}
			
			.el-table .success-row {
				background: #f0f9eb;
			}
		</style>
	</head>

	<body>
		<div id="lzdjApp">
			<el-row style="margin-bottom: 20px;">
				<el-col :span="8">
					<h1 style="font-size: 24px;">离职登记</h1>
				</el-col>
				<el-col :span="8">
					&nbsp
				</el-col>
				<el-col :span="8">
					<el-input v-model="name" placeholder="请输入内容" style="width: 50%;"></el-input>
					<el-button type="primary">搜索</el-button>
					<el-button type="info">关闭</el-button>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="14">
					&nbsp
				</el-col>
				<el-col :span="10">
					<el-button type="primary" plain>车资料</el-button>
					<el-button type="primary" plain>客户分类</el-button>
					<el-button type="primary" plain>查询</el-button>
					<el-button type="primary" plain>字段设置</el-button>
					<el-button type="primary" plain>导出</el-button>
				</el-col>
			</el-row>
			<el-row>
				<el-col>
					<el-button type="info" plain @click="xinzeng">新增</el-button>
					<el-button type="primary" plain>增加客户和车</el-button>
					<el-button type="primary" plain>增加客户</el-button>
					<el-button type="primary" plain>修改客户</el-button>
					<el-button type="primary" plain>删除客户</el-button>
					<el-button type="primary" plain>相关证照</el-button>
					<el-button type="primary" plain>设置密码</el-button>
				</el-col>
			</el-row>
			<el-table ref="singleTable" :data="lizhi" highlight-current-row @current-change="handleCurrentChange" style="width: 100%">
				<el-table-column type="index" width="50">
				</el-table-column>
				<el-table-column property="bumen" label="客户编码" width="120">
				</el-table-column>
				<el-table-column property="no" label="客户名称" width="120">
				</el-table-column>
				<el-table-column property="name" label="详细地址">
				</el-table-column>
				<el-table-column property="sex" label="手机号">
				</el-table-column>
				<el-table-column property="zhiwei" label="客户生日">
				</el-table-column>
				<el-table-column property="time" label="客户市区">
				</el-table-column>
				<el-table-column property="time" label="客户县城">
				</el-table-column>
				<el-table-column property="time" label="客户备注">
				</el-table-column>
				<el-table-column label="操作">
				</el-table-column>
			</el-table>
			<template>
				<el-tabs v-model="activeName" @tab-click="handleClick">
					<el-tab-pane label="车辆信息" name="first">
						<h1>车辆信息</h1>
						<el-table ref="singleTable" :data="lizhi" highlight-current-row @current-change="handleCurrentChange" style="width: 100%">
							<el-table-column type="index" width="50">
							</el-table-column>
							<el-table-column property="bumen" label="部门" width="120">
							</el-table-column>
							<el-table-column property="no" label="编号" width="120">
							</el-table-column>
							<el-table-column property="name" label="姓名">
							</el-table-column>
							<el-table-column property="sex" label="性别">
							</el-table-column>
							<el-table-column property="zhiwei" label="职位">
							</el-table-column>
							<el-table-column property="time" label="离职日期">
							</el-table-column>
							<el-table-column property="txt" label="离职原因">
							</el-table-column>
						</el-table>
					</el-tab-pane>
					<el-tab-pane label="历史消费" name="second">
						<h1>历史消费</h1>
						<el-table ref="singleTable" :data="lizhi" highlight-current-row @current-change="handleCurrentChange" style="width: 100%">
							<el-table-column type="index" width="50">
							</el-table-column>
							<el-table-column property="bumen" label="部门" width="120">
							</el-table-column>
							<el-table-column property="no" label="编号" width="120">
							</el-table-column>
							<el-table-column property="name" label="姓名">
							</el-table-column>
							<el-table-column property="sex" label="性别">
							</el-table-column>
							<el-table-column property="zhiwei" label="职位">
							</el-table-column>
							<el-table-column property="time" label="离职日期">
							</el-table-column>
							<el-table-column property="txt" label="离职原因">
							</el-table-column>
						</el-table>
					</el-tab-pane>
					<el-tab-pane label="历史回访" name="third">
						<h1>历史回访</h1>
						<el-table ref="singleTable" :data="lizhi" highlight-current-row @current-change="handleCurrentChange" style="width: 100%">
							<el-table-column type="index" width="50">
							</el-table-column>
							<el-table-column property="bumen" label="部门" width="120">
							</el-table-column>
							<el-table-column property="no" label="编号" width="120">
							</el-table-column>
							<el-table-column property="name" label="姓名">
							</el-table-column>
							<el-table-column property="sex" label="性别">
							</el-table-column>
							<el-table-column property="zhiwei" label="职位">
							</el-table-column>
							<el-table-column property="time" label="离职日期">
							</el-table-column>
							<el-table-column property="txt" label="离职原因">
							</el-table-column>
						</el-table>
					</el-tab-pane>
				</el-tabs>
			</template>
			<el-dialog :destroy-on-close="true" @opened="handlerOpen1" title="增加车辆" :visible.sync="isshow1" width="60%" :before-close="handleClose">
				<div id="cnt1"></div>
			</el-dialog>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>

	<script>
		var lzdjApp = new Vue({
			el: '#lzdjApp',
			data: {
				isshow1: false,
				isshow2: false,
				activeName: 'second',
				name: '',
				currentRow: null,
				lizhi: [{
						bumen: '管钱部',
						no: 'OME0001',
						name: '张三',
						sex: '男',
						zhiwei: '销售经理',
						time: '2019-09-09',
						txt: 'jdlkasjd'
					},
					{
						bumen: '管钱部',
						no: 'OME0002',
						name: '李四',
						sex: '女',
						zhiwei: '销售总监',
						time: '2019-09-09',
						txt: 'jdlkasjd'

					}
				]
			},
			methods: {
				handlerOpen1() {
					$("#cnt1").load('员工卡片.html'); //ajax读取页面
				},
				handleClose(done) {
					this.$confirm('确认关闭？').then(_ => {
						done();
					}).catch(_ => {});
				},
				xinzeng() {
					this.isshow1 = true;
				},
				handleClick(tab, event) {
					console.log(tab, event);
				},
				handleCurrentChange(val) {
					this.currentRow = val;
					alert(JSON.stringify(this.currentRow));
				}
			}
		});
	</script>

</html>