<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>结算中心</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<style>
			[v-cloak] {
				display: none;
			}
			
			.el-col {
				text-align: center;
			}
			
			#xxx .el-col {
				text-align: right;
			}
		</style>
	</head>

	<body style="background-color: #e6e6e6;">
		<div id="kehuziliao" style="background-color: white;padding: 2ex;" v-cloak>
			<span style="display: block;margin-bottom: 3ex;margin-left: 5ex;">
							<template>
				支付状态：<el-select v-model="value" placeholder="请选择" size="mini">
					<el-option color="item.tyue" v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
					</el-option>
				</el-select>
			</template>
				客户姓名：
    <el-input
    	style="width: 200px;"
    	size="mini"
  placeholder="请输入内容"
  v-model="input"
  clearable>
</el-input>

    <el-button type="primary"size="mini" @click="queryClick(input,value)"><span class="el-icon-search"  ></span></el-button>

			<!--<el-button type="success" size="mini" @click="dayin">导出</el-button>-->
			</span>
			<template>
				<el-table  :data="pageInfo.list" border :header-cell-style="{background:'#eef1f6'}" stripe style="width: 100%">
					<!--<el-table-column type="expand" fixed>
						<template slot-scope="temp">
							<el-table :data="temp.row.serdetalist" border :header-cell-style="{background:'#eef1f6'}" stripe style="width: 100%">
								<el-table-column label="单据类型" width="" prop="sdname">
								</el-table-column>
							</el-table>
						</template>
					</el-table-column>-->
					<el-table-column width="150" label="销售单号">
						<template slot-scope="temp">
							{{temp.row.service.wid}}
						</template>
					</el-table-column>
					<el-table-column label="单据类型" width="">
						<template slot-scope="temp">
							<!--{{temp.row..wleixi}}-->
							<span  v-if="temp.row.service.wleixi==1">站内</span>
							<span style="color: #E6A23C;" v-if="temp.row.service.wleixi!=1">站外</span>
					
						</template>
					</el-table-column>
					<el-table-column label="结算方式" width="" prop="service.wpayment">
						<template slot-scope="temp">
							<span v-if="temp.row.service.wpayment==0">未结算</span>
							<span v-if="temp.row.service.wpayment==1">现金</span>
							<span style="color: red;" v-if="temp.row.service.wpayment==2">现金(会员)</span>
							<span style="color: red;" v-if="temp.row.service.wpayment==3">会员积分</span>
							<span style="color: red;" v-if="temp.row.service.wpayment==4">支付宝扫码(会员)</span>
							<span style="color: red;" v-if="temp.row.service.wpayment==5">支付宝扫码</span>
							<!--{{temp.row.service.wpayment |jiesuanfangshi}}-->
							
						</template>
					</el-table-column>
					<el-table-column label="状态" width="70px" prop="service.wstatic">
						<template slot-scope="temp" row-style="">
							{{temp.row.service.wstatic |changSex1}}
						</template>
					</el-table-column>
					<el-table-column label="付款时间" width="160px"  sortable prop="service.paymenttirm">
					</el-table-column>
					<el-table-column label="结算金额" width="" prop="service.wsumprice">
					</el-table-column>
					<el-table-column label="抵扣金额" width="" prop="service.deductionmoney">
					</el-table-column>
					<el-table-column label="业务类型" width="" prop="service.wtype">
					</el-table-column>
					<el-table-column label="客户名称" width="" prop="service.wname">
					</el-table-column>
					<el-table-column label="车牌号" width="" prop="service.wcarid">
					</el-table-column>
					<el-table-column label="操作" width="150px">
						<template slot-scope="temp">
							<el-button v-if="temp.row.service.wstatic==3" size="mini" type="success" @click="shouyin(temp.row)">收银</el-button>
							<el-button size="mini" type="primary" @click="dakaidanju(temp.row)">打开</el-button>
							<el-button v-if="temp.row.service.wstatic==4" size="mini" type="info" @click="dayin(temp.row)">打印</el-button>
						</template>
					</el-table-column>
				</el-table>
			</template>
			<template>
				<div class="block" style="text-align: center;background-color: white;padding-top: 3ex;padding-bottom: 3ex;">
					<!--<el-pagination :total="pageInfo.total" 
						@size-change="handleSizeChange" 
						@current-change="handleCurrentChange" 
						:current-page="currentPage5" 
						:page-sizes="[8,6,3]" :page-size="pageInfo.pageSize" layout="total, sizes, prev, pager, next, jumper">-->

					<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage5" :page-sizes="[8,6,3]" :page-size="pageInfo.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="pageInfo.total">
					</el-pagination>
				</div>
			</template>
			<el-dialog title="支付" :visible.sync="isshow1" width="33%" :before-close="handleClose1">
				<el-row>
					<el-col :span="12">
						<el-row>
							<el-col :span="12">
								订单编号：
							</el-col>
							<el-col :span="12">{{zongjine.service.wid}}
							</el-col>
						</el-row>
					</el-col>
					<el-col :span="12">
						<el-row>
							<el-col :span="12">
								单据类型：
							</el-col>
							<el-col :span="12">{{zongjine.service.wleixi==1?'站内':'站外'}}
							</el-col>
						</el-row>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="12">
						<el-row>
							<el-col :span="12">
								客户姓名：
							</el-col>
							<el-col :span="12">{{zongjine.service.wname}}
							</el-col>
						</el-row>
					</el-col>
					<el-col :span="12">
						<el-row>
							<el-col :span="12">
								车牌编号：
							</el-col>
							<el-col :span="12">{{zongjine.service.wcarid}}
							</el-col>
						</el-row>
					</el-col>
				</el-row>
				<template>
					<el-table :data="zongjine.serdetalist" style="width: 100%;">
						<el-table-column label="维修项目" width="" prop="sdname">
							<aq></aq>
						</el-table-column>
						<el-table-column label="项目价格" width="" prop="dprice">
						</el-table-column>
						<el-table-column label="(件数/小时)" width="" prop="sdnumber">
						</el-table-column>
						<el-table-column label="小计" width="" prop="sdprice">
							<!--<template slot-scope="temp">
								{{temp.row.sdprice*temp.row.sdnumber}}
							</template>-->
						</el-table-column>
					</el-table>
				</template>
				<el-row>
					<el-col :span="12">&nbsp;
					</el-col>
					<el-col :span="12">
						<el-row>
							<el-col :span="12" style="text-align: right;">
								总计：
							</el-col>
							<el-col :span="12" style="text-align: right;">
								{{zongjine.service.wsumprice}}
							</el-col>
						</el-row>
					</el-col>
					</el-col>
				</el-row>
				<div id="xxx" style="text-align: right">
					<span id="" v-if="!isshow3">
						<el-row>
							<el-col :span="12">&nbsp;
							</el-col>
							<el-col :span="12">
								<el-row>
									<el-col :span="12">
									会员卡号：
									</el-col>
									<el-col :span="12">
									{{huiyuanObj.ckahaok}}
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="12">积分：
									</el-col>
									<el-col :span="12">
									{{huiyuanObj.cdoublerk}}
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="12">折扣：
									</el-col>
									<el-col :span="12">
									9折
									</el-col>
								</el-row>
							</el-col>
						</el-col>
					</span>
					<el-row>
						<el-col :span="12">&nbsp;
						</el-col>
						<el-col :span="12">
							<el-row>
								<el-col :span="12">
									应付金额：
								</el-col>
								<el-col :span="12">
									{{yfmoney}}
								</el-col>
							</el-row>
						</el-col>
						</el-col>
						<div style="height: 30px;"></div>
						<el-button   v-if="huiyuanObj.cdoublerk>=yfmoney" type="primary" :disabled="zfb" size="mini" @click="chengjiao(3)">使用积分抵扣</el-button>
						<el-button v-if="isshow3==true" type="primary" size="mini"  :disabled="zfb" v-if="isshow3==true" @click="xuanzehuiyuan">会员9折优惠，选择会员</el-button>
						<el-button type="primary" size="mini" @click="chengjiao(1)" :disabled="zfb">成交</el-button>
						<el-button type="primary" size="mini" @click="zhifubao(4)" :loading="zfb">支付宝支付</el-button>
				</div>

			</el-dialog>
			<el-dialog @opened="" title="会员" :visible.sync="isshow2" width="450px" :before-close="handleClose2">
				<span style="display: block;margin-bottom: 3ex;margin-left: 5ex;">
					<el-form :model="formInline" :inline="true" :rules="rules" ref="ruleForm2" label-width="100px" class="demo-form-inline">
						<el-form-item label="卡号" prop="gh">
							<el-input v-model="huiyuankahao" placeholder="供货商id" style="width: 250px;" :disabled="false"></el-input>
						</el-form-item>
						<el-form-item style="margin: 0px auto;width: 300px; text-align: right;">
							<el-button type="primary" style="" @click="querenhuiyuan(huiyuankahao)">确认</el-button>
							<el-button style="" @click="isshow2=false">取消</el-button>
						</el-form-item>
					</el-form>
			</el-dialog>
			<el-dialog :destroy-on-close="true" @opened="" title="详情" :visible.sync="isshow5" width="" :before-close="handleClose3">
				<el-table :data="index.serdetalist" border :header-cell-style="{background:'#eef1f6'}" stripe style="width: 100%">
								<el-table-column label="维修项目" width="" prop="sdname">
								</el-table-column>
								<el-table-column label="维系项目价格" width="" prop="sdprice">
								</el-table-column>
								<el-table-column label="维修数量" width="" prop="sdnumber">
								</el-table-column>
								<el-table-column label="小计" width="" prop="">
										<template slot-scope="temp">
											{{temp.row.sdprice*temp.row.sdnumber}}
										</template>
								</el-table-column>
				</el-table>
			</el-dialog>

			<el-dialog  title="订单详细" :visible.sync="dayinshow" width="" :before-close="handleClose3">
			<div id="cnt1"></div>
			</el-dialog>
		</div>

	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script>
		var gangwei = new Vue({
			el: "#kehuziliao",
			data: {
				zfb:false,
				dayinshow:false,
				yfmoney:0,
				formInline:{},rules:{},
				index:{},
				isshow5:false,
				isshow3:true,
				huiyuankahao:'',
				Supplier: {},
				isshow2:false,
				isshow1:false,
				value: '0',
				options: [{
					value: '4',
					label: '已结算',
					tyue:'red'
				}, {
					value: '3',
					label: '未结算'
				}, {
					value: '0',
					label: '不限'
				}],
				pageInfo: [],
				input: '',
				currentPage5:1,
				zongjine:{
					serdetalist:[],
					service:{}
				},
				huiyuanObj:{
					cdoublerk:0,
					ckahaok:0
				}
				,jiesuandan:{},zhekou:1,
				dh:""
			},
			methods: {
				dayin(obj){
					sessionStorage.setItem("dy",JSON.stringify(obj));
					window.open("../zyh/打印机.html");
				},
				dakaidanju(val){
					this.index=val;
					this.isshow5=true;
				},
				querenhuiyuan(val){
					var _this=this;
					if(val==''){
					}else{
						$.getJSON(`http://127.0.0.1:8080/CqqCustomerAction/api/${val}`, function(date) {
							if(date==null){
								_this.$message('没有找到');
							}else{
								_this.huiyuanObj = date;
								_this.isshow2=false;
								_this.isshow3=false;
								_this.zhekou=0.9;
								_this.yfmoney=parseFloat(_this.yfmoney*_this.zhekou).toFixed(2);
							}
						
					});
					}
				},
				
				xuanzehuiyuan(){
					this.isshow2=true;
				},
				handleSizeChange(val) {
					var this_=this;
					console.log(`每页 ${val} 条`);
					var input=this_.input;
					if(input==''){
						input=null;
					}
					this.currentPage5=1;
					this_.goToPage(1,val, this_.value, input);
				},
				handleCurrentChange(val) {
					var this_=this;
					console.log(`当前页: ${val}`);
					var input=this_.input;
					if(input==''){
						input=null;
					}
					this_.goToPage(val, this.pageInfo.pageSize, this_.value, input);
				},
				/*支付宝扫码*/
				zhifubao(val){
					let statuc=5;
					if(this.yfmoney<this.zongjine.service.wsumprice){
						statuc=4;
					}
					sessionStorage.setItem("statuc",statuc);
					sessionStorage.setItem("jiesuandan",JSON.stringify(this.jiesuandan));
					sessionStorage.setItem("zongjine",JSON.stringify(this.zongjine));
					sessionStorage.setItem("yfmoney",JSON.stringify(this.yfmoney));
					sessionStorage.setItem("huiyuanObj",JSON.stringify(this.huiyuanObj));
					var date=new Date();
					now=date.getFullYear()+""+(date.getMonth()+1)+""+date.getDate()+""+date.getHours()+""+date.getMinutes()+""+date.getSeconds();
					this.dh=now+""+this.zongjine.service.wid;
					sessionStorage.setItem("dh",JSON.stringify(this.dh));
					this.typeif();
					this.zfb=true;
					window.open("../zyh/二维码支付.html");
					
				},
				typeif(){
					let _this=this;
					$.getJSON(`http://127.0.0.1:8080/AlipayAction/api/queryStatuc/${this.dh}`, function(data) {
						/*_this.statuc=data;*/
						if(data=="FAILED"){
							setTimeout(()=>{
											_this.typeif();
									},"2000")
						
						}
						if(data=="SUCCESS"){
							_this.closetypey();
						}
					});
					
					
					
				},
				closetypey(){
					let _this=this;
					 this.$notify({
          title: '支付提示',
          message: '支付成功',
          type: 'success'
        });
        		_this.goToPage(1,_this.pageInfo.pageSize, 0, null);
									_this.isshow2=false;
									_this.isshow1=false;
									_this.isshow3=true;
									_this.isshow5=false;
										_this.zfb=false;
					sessionStorage.setItem("type",false);
				}
				,
				chengjiao(val){
					var _this=this;
					_this.jiesuandan.service.wstatic=4;
					if(val==3){
						_this.jiesuandan.service.wpayment=3;
						_this.jiesuandan.service.deductionmoney=parseFloat(_this.yfmoney).toFixed(2);
					}else{
						_this.jiesuandan.service.wpayment=this.yfmoney<_this.jiesuandan.service.wsumprice?2:1;
						_this.jiesuandan.service.deductionmoney=parseFloat(_this.jiesuandan.service.wsumprice-_this.yfmoney).toFixed(2);
					}
					
					$.ajax(`http://127.0.0.1:8080/CqqServiceAction/api/update/${_this.huiyuanObj.ckahaok}`, {
							type: "post",
							contentType: "application/json",
							data: JSON.stringify(_this.jiesuandan.service),
							dataType: "json",
							success(date) {
								if(date > 0) {
									  _this.$message({
									  	duration:"1000",
          showClose: true,
          message: '操作成功！',
          type: 'success'
        });
        /*_this.huiyuanObj={};*/
       _this.isshow3=true;
									_this.goToPage(1,_this.pageInfo.pageSize, 0, null);
									_this.isshow2=false;
									_this.isshow1=false;
									
									_this.isshow5=false;
								} else {
									_this.$message('不成功');
								}
							}
					});
				},
				shouyin(row){
						this.zongjine='';
					this.jiesuandan={};
					this.huiyuankahao='';
					this.huiyuanObj={
					cdoublerk:0,
					ckahaok:0
				};
					this.zhekou=1;
					this.isshow1 = true;
					this.zongjine=row;
					this.jiesuandan=row;
					this.yfmoney=this.jiesuandan.service.wsumprice;
					sessionStorage.setItem("erweima",JSON.stringify(row));
				},
				queryClick(input, value) {
					if(input == '') {
						input = null;
					}
					if(value == '') {
						value = 0;
					}
					this.goToPage(1,this.pageInfo.pageSize, value, input);
				},
				/*关闭对话框*/
				handleClose3(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							this.radio = "";
							done();
						})
						.catch(_ => {});
				},
				handleClose1(done) {
					var _this=this;
					this.$confirm('确认关闭？')
						.then(_ => {
							this.radio = "";
							done();
							_this.zhekou=1;
							//_this.huiyuanObj =null;
							_this.isshow3=true;
						})
						.catch(_ => {});
				},
				handleClose2(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							this.radio = "";
							done();
						})
						.catch(_ => {});
				},
				goToPage(n, s, wid, name) {
					let _this = this;
					$.getJSON(`http://127.0.0.1:8080/CqqServiceAction/api/${n}/${s}/${wid}/${name}`, function(date) {
						_this.pageInfo = date;
						_this.currentPage5=date.pageNum;
					});
				}
			},			filters: {
				changSex1(val) {
					if (val==4) {
						return "已结算";
					}else{
					return "未结算";
					}
				}
				,jiesuanfangshi(val) {
					if (val==0) {
						return "未结算";
					}else if(val==1){
					return "现金";
					}else if(val==2){
					return "会员";
					}else if(val==3){
						return "会员积分";
					}
				}
			},
			mounted() {
				this.goToPage(1,8, 0, null);
			}
		})
	</script>

</html>