<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>站外接单</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
		<style type="text/css">
			* {
				text-align: center;
			}
			
			.winput {
				width: 120px;
			}
			
			.demo-table-expand {
				font-size: 0;
			}
			
			.demo-table-expand label {
				width: 90px;
				color: #99a9bf;
			}
			
			.demo-table-expand .el-form-item {
				margin-right: 0;
				margin-bottom: 0;
				width: 50%;
			}
		</style>
	</head>

	<body>
		<div id="zhanwai">
			<el-container>
				<el-main>
					<el-tabs value="1">
						<el-tab-pane label="维修下单" name="1" style="margin-top: 30px;">
							<el-form :inline="true" label-width="100px" size="mini">
								<el-form-item label="车牌号码：">
									<el-input v-model="fixformdata.carid" clearable></el-input>
								</el-form-item>
								<el-form-item>
									<el-button @click="getFixCarData(1)" size="mini">查询数据</el-button>
									<el-button @click="getFixMaxWid();fixdialog = true" type="primary" size="mini">维修下单</el-button>
								</el-form-item>
							</el-form>
							<el-table stripe :data="fixcardata.list" size="small" style="width: 95%;margin: 0px auto;">
								<el-table-column type="expand" label="详情">
									<template slot-scope="temp">
										<el-table :data="temp.row.serviceinfo" size="mini" style="width: 90%;margin: 0px auto;">
											<el-table-column label="维修单据详情">
												<el-table-column type="index" label="序号" align="center" show-overflow-tooltip>
												</el-table-column>
												<el-table-column prop="sdname" label="材料名称" align="center" show-overflow-tooltip>
												</el-table-column>
												<el-table-column prop="sdnumber" label="数量" align="center" show-overflow-tooltip>
												</el-table-column>
												<el-table-column prop="dprice" label="单价" align="center" show-overflow-tooltip>
												</el-table-column>
												<el-table-column prop="sdprice" label="总价" align="center" show-overflow-tooltip>
												</el-table-column>
											</el-table-column>
										</el-table>
									</template>
								</el-table-column>
								<el-table-column type="index" label="序号" align="center" show-overflow-tooltip>
								</el-table-column>
								<el-table-column prop="wid" label="单据编号" align="center" show-overflow-tooltip>
								</el-table-column>
								<el-table-column prop="wname" label="客户姓名" align="center" show-overflow-tooltip>
								</el-table-column>
								<el-table-column prop="wjname" label="班组/技工" align="center" show-overflow-tooltip>
								</el-table-column>
								<el-table-column prop="wtype" label="业务类型" align="center" show-overflow-tooltip>
								</el-table-column>
								<el-table-column prop="wcarid" label="车牌号码" align="center" show-overflow-tooltip>
								</el-table-column>
								<el-table-column prop="wstatic" label="维修状态" align="center" show-overflow-tooltip>
									<template slot-scope="temp">
										{{temp.row.wstatic == 1 ?'接车中':'未知状态'}}
									</template>
								</el-table-column>
								<el-table-column prop="wsumprice" label="估价(元)" align="center" show-overflow-tooltip>
								</el-table-column>
								<el-table-column prop="wsumprice" label="维修服务" align="center" show-overflow-tooltip>
									<template slot-scope="temp">
										{{temp.row.wleixi == 1?'站内服务' :'站外服务'}}
									</template>
								</el-table-column>
								<el-table-column prop="wstatdate" label="开始时间" align="center" show-overflow-tooltip>
								</el-table-column>
								<el-table-column prop="wenddate" label="结束时间" align="center" show-overflow-tooltip>
								</el-table-column>
							</el-table>
							<div style="margin-top: 20px;">
								<el-pagination @current-change="getFixCarData" background layout="total, prev, pager, next, jumper" :page-size="4" :total="fixcardata.total">
								</el-pagination>
							</div>
					</el-tabs>
					<el-dialog width="90%" center :visible.sync="fixdialog" :close-on-click-modal="false" :close-on-press-escape="false" :show-close="false">
						<el-divider content-position="center" slot="title">
							<h3 class="el-icon-edit-outline"> 维修订单添加 订单号：{{fixcardform.wid}}</h3>
						</el-divider>
						<el-form label-width="100px" size="mini" :inline="true">
							<el-form-item label="客户姓名：">
								<el-input v-model="fixcardform.wname"></el-input>
							</el-form-item>
							<el-form-item label="客户号码：">
								<el-input v-model="fixcardform.wphone"></el-input>
							</el-form-item>
							<el-form-item label="车牌号码：">
								<el-input v-model="fixcardform.wcarid"></el-input>
							</el-form-item>
							<el-form-item label="开始时间：">
								<el-date-picker @change="ifTimeNotNull" style="width: 178px;" v-model="fixcardform.wstatdate" type="datetime" placeholder="选择日期">
								</el-date-picker>
							</el-form-item>
							<el-form-item label="结束时间：">
								<el-date-picker @change="ifTimeNotNull" style="width: 178px;" v-model="fixcardform.wenddate" type="datetime" placeholder="选择日期">
								</el-date-picker>
							</el-form-item>
							<el-form-item label="维修人员：">
								<el-select @change="addFixTimeMoney" v-model="fixformdata.wjname" style="width: 178px;" v-if="fixformdata.fixiftrue">
									<el-option-group v-for="temp in prsAndGroupData" :key="temp.label" :label="temp.label">
									  <el-option v-for="item in temp.options" :key="item.pid" :label="item.pname" :value="item.pid">
									  </el-option>
									</el-option-group>
								</el-select>
								<el-select v-model="fixcardform.wjname" style="width: 178px;" disabled v-if="!fixformdata.fixiftrue">
								</el-select>
							</el-form-item>
							<el-form-item label="业务类型：">
								<el-select @change="changeTypeData" v-model="fixformdata.wtype" multiple collapse-tags style="width: 178px;">
									<el-option label="保养" value="保养"></el-option>
									<el-option label="维修" value="维修"></el-option>
									<el-option label="美容" value="美容"></el-option>
									<el-option label="装饰" value="装饰"></el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="维修类型：">
								<el-select @change="getFixGoodsItemData" v-model="fixformdata.fixType" style="width: 87px;">
									<el-option v-for="item in fixTypeData" :key="item.xmid" :label="item.xnames" :value="item.xmid">
									</el-option>
								</el-select>
								<el-select v-model="fixformdata.goodsid" style="width: 86px;">
									<el-option v-for="item in fixGoodsData" :key="item.gid" :label="item.gname" :value="item.gid">
									</el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="材料数量：">
								<el-input v-model.number="fixformdata.gcount" style="width: 117px;"><template slot="append">个</template></el-input>
								<el-button @click="addFixGoods" type="primary" size="mini">添加</el-button>
							</el-form-item>
							<el-form-item label="站外维修：">
								<el-switch @change="orderStateChangeData" v-model="fixcardform.wleixi" :width="78" active-value="2" inactive-value="1" style="padding: 0px 50px;">
								</el-switch>
							</el-form-item>
							<el-form-item label="接车派车：">
								<el-select @change="addPickCarMoney" v-model="fixformdata.pickcar" style="width: 178px;" v-if="fixformdata.iftrue">
									<el-option v-for="(item,i) in outCarData" :key="item.legworkid" :label="item.brand+'—'+item.platenumber" :value="i">
									</el-option>
								</el-select>
								<el-select v-model="fixformdata.pickcar" style="width: 178px;" disabled v-if="!fixformdata.iftrue">
									<!--<el-option v-for="item in fixGoodsData" :key="item.gid" :label="item.gname" :value="item.gid">
									</el-option>-->
								</el-select>
							</el-form-item>
							<el-form-item label="接车距离：">
								<el-input @change="addPickCarMoney" v-model="fixformdata.kmMoney" style="width: 178px;" v-if="fixformdata.iftrue"><template slot="append">KM</template></el-input>
								<el-input v-model="fixformdata.kmMoney" style="width: 178px;" v-if="!fixformdata.iftrue" disabled><template slot="append">KM</template></el-input>
							</el-form-item>
						</el-form>
						<el-table :data="fixgoods" size="mini" style="width: 95%;margin: 0px auto;">
							<el-table-column label="材料名称" prop="sdname" align="center"></el-table-column>
							<el-table-column label="材料数量" prop="sdnumber" align="center"></el-table-column>
							<el-table-column label="材料单价" prop="dprice" align="center"></el-table-column>
							<el-table-column label="材料总价" prop="sdprice" align="center"></el-table-column>
							<el-table-column label="操作" align="center">
								<template slot-scope="temp" v-if="temp.row.type == 1">
									<el-button @click="goodsControl(temp.$index,1)" icon="el-icon-plus" circle size="mini"></el-button>
									<el-button @click="goodsControl(temp.$index,2)" icon="el-icon-minus" circle size="mini"></el-button>
									<el-button @click="goodsControl(temp.$index,3)" icon="el-icon-close" circle size="mini"></el-button>
								</template>
							</el-table-column>
						</el-table>
						<span slot="footer" class="dialog-footer">
							<el-button @click="fixdialog = false" size="small">取 消</el-button>
						  	<el-button type="primary" @click="addFixNumber" size="small">保 存</el-button>
						</span>
					</el-dialog>
				</el-main>
			</el-container>
		</div>
	</body>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript">
		var zhanwai = new Vue({
			el: '#zhanwai',
			data: {
				//模态框显示隐藏数据
				fixdialog: false,
				//用于查询的form数据
				fixformdata: {
					//车牌号码
					carid: '',
					//维修类型
					fixType:'',
					//商品编号
					goodsid:'',
					//商品添加数量
					gcount:'1',
					//派车编号
					pickcar:'',
					//接车距离
					kmMoney:'',
					//控件隐藏、显示
					iftrue:false,
					//维修工显示隐藏
					fixiftrue:false,
					//维修类型
					wtype:'',
					wjname:'',
				},
				//查询的维修单据
				fixcardata: {},
				//表单的维修单据
				fixcardform: {
					wid: '',
					wname: '',
					wcarid: '',
					wphone: '',
					wleixi: '1',
					wstatdate: '',
					wenddate: '',
					wsumprice: '',
					wstatic: '1',
					wjname: '',
					wtype: ''
				},
				//维修类型数据
				fixTypeData:[],
				//维修类型下的商品数据
				fixGoodsData:[],
				//维修材料数据
				fixgoods:[],
				//技工组及技工
				prsAndGroupData:[],
				//站外维修接车数据
				outCarData:[]
			},
			mounted() {
				this.getFixCarData(1);
				this.getFixGoodsTypeData();
				this.getFixPersonData();
				this.getPickCarData();
			},
			methods: {
				//获取所有的维修订单数据
				getFixCarData(page) {
					let _this = this;
					$.getJSON("http://127.0.0.1:8080/yldaction/api/queryAllServicePage", {
						page: page,
						wcarid: _this.fixformdata.carid
					}, function(msg) {
						_this.fixcardata = msg;
						console.info(msg);
					});
				},
				//获取所有的维修类型数据
				getFixGoodsTypeData() {
					let _this = this;
					$.getJSON("http://127.0.0.1:8080/yldaction/api/queryAllGoodsItem",
					function(msg) {
						_this.fixTypeData = msg;
						console.info(msg);
					});
				},
				//根据类型编号查询类型下的所有商品
				getFixGoodsItemData(typeid) {
					let _this = this;
					this.fixformdata.goodsid = ''
					$.getJSON("http://127.0.0.1:8080/yldaction/api/queryAllGoodsByType",{typeid:typeid},
					function(msg) {
						_this.fixGoodsData = msg;
						console.info(msg);
					});
				},
				//获取订单编号
				getFixMaxWid(){
					let _this = this;
					$.getJSON("http://127.0.0.1:8080/yldaction/api/queryMaxWid",
					function(msg) {
						_this.fixcardform.wid = msg;
					});
				},
				//获取所有技工数据
				getFixPersonData(){
					let _this = this;
					$.getJSON("http://127.0.0.1:8080/yldaction/api/queryAllPreson",function(msg){
						_this.prsAndGroupData.push({label:'技工',options:msg});
					});
					$.getJSON("http://127.0.0.1:8080/yldaction/api/queryALlPrsGroup",function(msg){
						let data = [];
						$.each(msg,function(i,obj){
							data.push({pid:obj.bzid,pname:obj.bzname,hmoney:obj.hmoney});
						});
						_this.prsAndGroupData.push({label:'班组',options:data});
					});
					console.info(_this.prsAndGroupData);
				},
				addFixTimeMoney(val){
					let _this = this;
					let data = {};
					$.each(this.prsAndGroupData, function(i,obj) {
						$.each(obj.options, function(j,temp) {
							if(val == temp.pid){
								let stime = new Date(_this.fixcardform.wstatdate).getTime(); 
								let etime = new Date(_this.fixcardform.wenddate).getTime(); 
								_this.fixcardform.wjname = temp.pname;
								let prsPrice = parseInt(temp.hmoney * Math.ceil(parseInt((etime-stime))/ 1000 / 60 / 60));
								data = {wid:_this.fixcardform.wid,sid:temp.pid,sdname:'工时费(1h)',dprice:prsPrice,sdprice:prsPrice,sdnumber:1,type:2};
								return false;
							}
						});
					});
					console.info(this.fixgoods);
					$.each(this.fixgoods, function(i,obj) {
						if(obj.type == 2){
							_this.fixgoods.splice(i,1);
							return false;
						}
					});
					this.fixgoods.splice(0,0,data);
				},
				addPickCarMoney(){
					let _this = this;
					if(this.fixformdata.kmMoney != ''){
						$.each(this.fixgoods, function(i,obj) {
							if(obj.type == 3){
								_this.fixgoods.splice(i,1);
								return false;
							}
						});
						let temp = this.outCarData[this.fixformdata.pickcar];
						let sumprice = parseInt(temp.momey) * parseInt(this.fixformdata.kmMoney);
						let data = {wid:_this.fixcardform.wid,sid:temp.legworkid,sdname:'调度费',dprice:temp.momey,sdprice:sumprice,sdnumber:this.fixformdata.kmMoney,type:3};
						this.fixgoods.splice(1,0,data);
					}else{
						this.fixformdata.pickcar = '';
						this.$message({message:'请输入公里数再选择调度车辆！',center:true,type:'warning'});
					}
				},
				getPickCarData(){
					let _this = this;
					$.getJSON("http://127.0.0.1:8080/yldaction/api/queryAllNotOutCar",function(msg){
						_this.outCarData = msg;
						console.info(msg);
					});
				},
				changeTypeData(val){
						let _this = this;
						this.fixcardform.wtype = '';
						$.each(val, function(i,obj) {
							_this.fixcardform.wtype += obj+" "
						});
						console.info(this.fixcardform.wtype);
				},
				//根据站内站外禁用选项
				orderStateChangeData(val){
					if(val == 2){
						this.fixformdata.iftrue = true;
					}else{
						this.fixformdata.iftrue = false;
					}
				},
				ifTimeNotNull(){
					if(this.fixcardform.wstatdate != '' && this.fixcardform.wenddate != ''){
						this.fixformdata.fixiftrue = true;
					}else{
						this.fixformdata.fixiftrue = false;
					}
				},
				//添加维修材料
				addFixGoods(){
					let _this = this;
					let iftrue = true;
					//遍历所有的商品数据
					$.each(this.fixGoodsData, function(i,obj) {
						//获取选中的商品数据
						if(_this.fixformdata.goodsid == obj.gid){
							//遍历已存在的商品数据
							$.each(_this.fixgoods,function(j,temp){
								//判断商品是否存在，存在则在原有商品上加上数量
								if(temp.sid == _this.fixformdata.goodsid){
									_this.fixgoods[j].sdnumber = parseInt(_this.fixgoods[j].sdnumber)+parseInt(_this.fixformdata.gcount);
									_this.fixgoods[j].sdprice = parseInt(obj.gprice * _this.fixgoods[j].sdnumber);
									iftrue = false;
									return;
								}
							});
							//如果遍历后没有存在商品则添加商品
							if(iftrue){
								let sumprice = parseInt(obj.gprice * _this.fixformdata.gcount);
								_this.fixgoods.push({wid:_this.fixcardform.wid,sid:obj.gid,sdname:obj.gname,dprice:obj.gprice,sdprice:sumprice,sdnumber:_this.fixformdata.gcount,type:1});
							}
						}
					});
				},
				//材料控制
				goodsControl(i,val){
					let _this = this;
					switch (val){
						case 1:
							_this.fixgoods[i].sdnumber = parseInt(_this.fixgoods[i].sdnumber) + 1;
							_this.fixgoods[i].sdprice = parseInt(_this.fixgoods[i].dprice)* parseInt(_this.fixgoods[i].sdnumber);
							break;
						case 2:
							if(_this.fixgoods[i].sdnumber > 1){
								_this.fixgoods[i].sdnumber = parseInt(_this.fixgoods[i].sdnumber) - 1;
								_this.fixgoods[i].sdprice = parseInt(_this.fixgoods[i].dprice)* parseInt(_this.fixgoods[i].sdnumber);
							}else{
								_this.fixgoods.splice(i,1);
							}
							break;
						case 3:
							_this.fixgoods.splice(i,1);
							break;
					}
				},
				
				//添加订单
				addFixNumber(){
					let _this = this;
					//维修材料费
					let sumPrice = 0;
					$.each(this.fixgoods, function(i,obj) {
						if(obj.type == 1){
							sumPrice += obj.sdprice;
						}
					});
					//总费用 = 站外接车金额+维修材料费+技工维修费
					if(this.fixcardform.wleixi == 2){
						this.outCarData[this.fixformdata.pickcar].state = '已出车';
						this.outCarData[this.fixformdata.pickcar].wid = this.fixcardform.wid;
						$.ajax('http://127.0.0.1:8080/yldaction/api/updateCarState',{
						    type:'post',
						    dataType:'json',
						    contentType:'application/json',
						    data:JSON.stringify(_this.outCarData[_this.fixformdata.pickcar]),
						    success:function(msg){
						        if(msg == "ok"){
						        	return false;
						        }else{
						        	_this.$message({message:'出车失败！！',center:true,type:'error'});
						        }
						    }
						});
						this.fixcardform.wsumprice = parseInt(this.fixgoods[0].sdprice)+parseInt(this.fixgoods[1].sdprice)+sumPrice;
						alert("站外接车费="+parseInt(this.fixgoods[1].sdprice)+" 技工工时费="+this.fixgoods[0].sdprice+" 维修材料费="+sumPrice+" 总费用="+this.fixcardform.wsumprice);
					}else{
						this.fixcardform.wsumprice = parseInt(this.fixgoods[0].sdprice)+sumPrice;
						alert("技工工时费="+this.fixgoods[0].sdprice+" 维修材料费="+sumPrice+" 总费用="+this.fixcardform.wsumprice);
					}
					$.ajax('http://127.0.0.1:8080/yldaction/api/insertService',{
					    type:'post',
					    dataType:'json',
					    contentType:'application/json',
					    data:JSON.stringify(_this.fixcardform),
					    success:function(msg){
					        if(msg == "ok"){
					        	$.ajax('http://127.0.0.1:8080/yldaction/api/insertServiceInfo',{
								    type:'post',
								    dataType:'json',
								    contentType:'application/json',
								    data:JSON.stringify(_this.fixgoods),
								    success:function(msg){
								        if(msg == "ok"){
								        	location.reload();
								        }else{
								        	_this.$message({message:'添加失败！',center:true,type:'error'});
								        }
								    }
								});
					        }else{
					        	_this.$message({message:'添加失败！',center:true,type:'error'});
					        }
					    }
					});
				}
			}
		})
	</script>

</html>