<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link href="../css/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../css/index.css" />
		<script type="text/javascript" src="../js/xadmin.js"></script>
	</head>

	<body>
		<div id="addApp" style="width: 80%;margin: 0 auto;">
			<el-form style="width: 70%;margin: 0 auto;" :inline="true" label-position="left" label-width="100px"  style="text-align: center;">
				<el-form-item label="车牌号">
					<el-select v-model="bill.wid" placeholder="请选择">
						<el-option v-for="item in bill" :label="item.wcarid" :value="item.wid"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="驾驶员:">
					<el-input v-model="title"></el-input>
				</el-form-item>
				<el-form-item label="备注：">
					<el-input v-model="summary"></el-input>
				</el-form-item>
			</el-form>
			<div style="text-align: right;">
				<el-button @click="addBill">保存</el-button>
				<el-button @click="qu">取消</el-button>
			</div>
		</div>

		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/index.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
		<script>
			var myDate = new Date();
			var app = new Vue({
				data: {
					bill: {
						wid: '',
						wcarid: '',
					},
						summary:'',
						title:'',
					jie: JSON.parse(window.sessionStorage.getItem("jie")),
					name: '',
					activeName: 'first'
				},

				methods: {
					//查询接车信息
					query() {
						let _this = this;
						$.getJSON(`http://localhost:8080/ljn/api/ljnServiceAction/query`, function(res) {
							_this.bill = res;
						});
					},
					//用户接车
					addBill() {
						let _this = this;
						if(_this.summary==""||_this.title==""|| _this.bill.wid=="") {
							_this.$message({
								showClose: true,
								message: '请填写信息！',
								type: 'error'
							});
						}else{
						_this.jie.state = "已出车";
						_this.jie.wid = _this.bill.wid;
						var i=this.bill.wid;
						$.getJSON(`http://localhost:8080/ljn/api/ljnServiceAction/update/6/${_this.bill.wid}`, function(res) {
						});
						$.ajax({
							type: "POST",
							contentType: "application/json",
							data: JSON.stringify(_this.jie),
							url: `http://127.0.0.1:8080/ljn/api/ljnlegworkAction/update`,
							success: function(res) {
								if(res != 0) {
									alert("接车成功");
									legworkApp.query(1, 9, "未出车");
									legworkApp.isshow3 = false;
								}
							}
						});
						}
					},
					qu() {
						legworkApp.isshow3 = false;
					},
				},

				mounted() {
					let _this = this;
					_this.query(1, "未出车");
				},

			}).$mount("#addApp");
		</script>
	</body>

</html>