<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link href="../css/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../css/index.css" />
		<script type="text/javascript" src="../js/xadmin.js"></script>
	</head>

	<body>
		<div id="UpdateApp" style="width: 80%;margin: 0 auto;">
			<h2 style="text-align: center;">车辆信息添加</h2>
			<el-form style="width: 70%;margin: 0 auto;" :inline="true" label-position="left" label-width="100px" :model="bill" style="text-align: center;">
				<el-form-item label="车辆车牌：">
					<el-input v-model="bill.carlicenceplate"></el-input>
				</el-form-item>
				<el-form-item label="车辆品牌:">
					<el-input v-model="bill.carbrand"></el-input>
				</el-form-item>
				<el-form-item label="车辆颜色：">
					<el-input v-model="bill.carcolor"></el-input>
				</el-form-item>
				<el-form-item label="车辆配置：">
					<el-input v-model="bill.carconfigure"></el-input>
				</el-form-item>
				<el-form-item label="车辆产地：">
					<el-input v-model="bill.carlocality"></el-input>
				</el-form-item>
				<el-form-item label="车辆款式：">
					<el-input v-model="bill.carmodel"></el-input>
				</el-form-item>
				
			</el-form>
			<div style="text-align: right;">
				<el-button @click="update">保存</el-button>
				<el-button onclick="xadmin.close()">取消</el-button>
			</div>
		</div>

		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/index.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
		<script>
			var myDate = new Date();
			var app = new Vue({
				data: {
					bill:JSON.parse(window.sessionStorage.getItem("car")),
					activeName: 'first'
				},
				methods:{
					//修改车辆信息
					update(){
						let _this = this;
						$.ajax({
							type: "POST",
							contentType: "application/json",
							data: JSON.stringify(_this.bill),
							url: `http://127.0.0.1:8080/ljn/api/ljnCustomercarAction/update`,
							success: function(res) {
							if(res!=0){
							_this.$alert("修改成功");
							xadmin.close();
							location.href='车型档案管理.html';
							}
							}
						});
					},
				},
			
			}).$mount("#UpdateApp");
		</script>
	</body>

</html>