<!DOCTYPE html>
<html class="x-admin-sm">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../css/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../css/index.css" />
		<script type="text/javascript" src="../js/xadmin.js"></script>
	</head>
	<div id="personUpdate" style="width: 70%;margin: 0 auto;">
		<el-form style="width: 70%;margin: 0 auto;" :inline="true" label-position="left" label-width="100px" style="text-align: center;">
			<el-form-item label="员工编号">
				<el-select v-model="form.pid" placeholder="请选择">
					<el-option v-for="item in id" :label="item.pid" :value="item.pid"></el-option>
				</el-select>
			</el-form-item>
			<el-form-item label="员工名称:">
				<el-input v-model="form.txlname"></el-input>
			</el-form-item>
			<el-form-item label="联系电话:">
				<el-input v-model="form.txlphone"></el-input>
			</el-form-item>
			<div style="text-align: right;">
				<el-button @click="update">保存</el-button>
				<el-button @click="qu">取消</el-button>
			</div>
	</div>

	<body>
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/index.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
		<script>
			var personUpdate = new Vue({
				el: '#personUpdate',
				data: {
					form: JSON.parse(window.sessionStorage.getItem("us")),
					id: [],
					qid: "",
				},
				methods: {
					//修改通讯录信息
					update() {
						let _this = this;
						if(_this.form.txlname==""||_this.form.id==""||_this.form.txlphone=="") {
							_this.$message({
								showClose: true,
								message: '请填写信息！',
								type: 'error'
							});
						}else{
								$.ajax({
									type: "POST",
									contentType: "application/json",
									data: JSON.stringify(_this.form),
									url: `http://127.0.0.1:8080/ljn/api/ljnUserphoneAction/update`,
									success: function(res) {
										if(res != 0) {
											alert("修改成功");
											personApp.isshow2 = false;
											personApp.query(1, 9, "null");
										}
									}
								});
							}
					},
					//查询员工编号
					query() {
						let _this = this;
						$.getJSON(`http://localhost:8080/ljn/api/ljnPersonnelAction/query`, function(res) {
							_this.id = res;
						})
					},
					qu() {
						personApp.isshow2 = false;
					}
				},
				mounted() {
					let _this = this;
					_this.qid = _this.form.pid;
					_this.query();
				}
			})
		</script>

	</body>

</html>