<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="../css/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../css/index.css" />
		<script type="text/javascript" src="../js/xadmin.js"></script>
	</head>
	<body>
		<div id="personAdd" style="width: 70%;margin: 0 auto;">
			<el-form style="width: 70%;margin: 0 auto;" :inline="true" label-position="left" label-width="100px" style="text-align: center;">
				<el-form-item label="员工编号">
					<el-select v-model="pid" placeholder="请选择">
						<el-option v-for="item in id" :label="item.pid" :value="item.pid"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item label="员工名称:">
					<el-input v-model="pname"></el-input>
				</el-form-item>
				<el-form-item label="联系电话:">
					<el-input v-model="pphone"></el-input>
				</el-form-item>
				<div style="text-align:  center;">
					<el-button @click="add(pid,pname,pphone)">保存</el-button>
					<el-button @click="qu">取消</el-button>
				</div>
		</div>
		<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript" src="../js/index.js"></script>
		<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
		<script>
			var personAdd = new Vue({
				el: '#personAdd',
				data: {
					pphone: "",
					pname: "",
					pid: "",
					id: [],
				},
				methods: {
					//新增通讯录信息
					add(pid, pname, pphone) {
						let _this = this;
						if(pname==""||pid==""||pphone=="") {
							_this.$message({
								showClose: true,
								message: '请填写信息！',
								type: 'error'
							});
						}else{
						$.getJSON(`http://localhost:8080/ljn/api/ljnUserphoneAction/count/${pid}`, function(res) {
							//新增员工信息
							$.getJSON(`http://localhost:8080/ljn/api/ljnUserphoneAction/add/${pid}/${pname}/${pphone}`, function(res) {
								if(res > 0) {
									_this.$alert("新增成功");
									legworkApp.isshow1 = false;
									legworkApp.query(1, 9, "null");
								}
							});
						})
						}
					},
					//查询员工编号
					query() {
						let _this = this;
						$.getJSON(`http://localhost:8080/ljn/api/ljnPersonnelAction/query`, function(res) {
							_this.id = res;
						})
					},
					qu() {
						personApp.isshow1 = false;
					},
				},
				mounted() {
					let _this = this;
					_this.query();
				},
			})
		</script>
	</body>

</html>