<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>客户资料管理</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<style>
			[v-cloak] {
				display: none;
			}
			.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #CAE1FF;
}
		</style>
	</head>

	<body style="background-color: #e6e6e6;">
		<div id="kehuziliao" style="background-color: white;padding: 2ex;" v-cloak>

			<h2 style="margin-left: 3ex;padding: 1ex;margin-top: 0px;">客户资料管理</h2>
			<span style="display: block;margin-bottom: 3ex;margin-left: 5ex;">顾客姓名：
    <el-input
    	style="width: 200px;"
 
    	size="mini"
  placeholder="请输入内容"
  v-model="input"
  clearable>
</el-input>

    <el-button type="primary"size="mini" @click="queryClick"><span class="el-icon-search"  ></span></el-button>
			<el-button type="success" size="mini" @click="addClick">添加数据</el-button>
			<el-button type="success" size="mini" @click="clAdd">添加车辆</el-button>
			<el-button type="warning" size="mini" @click="updateClick">编辑</el-button>
			</span>
			<template>
				<el-table max-height="500" 
					   	height="340"
					:row-style="selectedHighlight" 
					 	    :row-class-name="tableRowClassName"
					 	  	size="mini"
					 	  	@row-click="rowClick"
					 	  	 @row-dblclick="rowdblclick"
					:data="tableData" border :header-cell-style="{background:'#eef1f6'}"  style="width: 100%">
				
					</el-table-column>

					<el-table-column width="180" label="顾客编码">
						<template slot-scope="temp">
							{{temp.row.cidk}}

						</template>
					</el-table-column>
					<el-table-column label="顾客名称" width="180" prop="cnamek">
					</el-table-column>
					<el-table-column label="地址" width="280" prop="caddressk">
					</el-table-column>

					<el-table-column label="性别" width="120" prop="csexk">
					</el-table-column>

					<el-table-column label="联系号码" width="280" prop="cphonek">
					</el-table-column>

					<el-table-column label="客户类型" width="280" prop="ctypek">
					</el-table-column>

					<el-table-column label="身份证" width="280" prop="cidnumberk">
					</el-table-column>

					<el-table-column label="会员卡号" width="280" prop="ckahaok">
					</el-table-column>

					<el-table-column label="累计积分" width="280" prop="cdoublerk">
					</el-table-column>

					<el-table-column label="会员余额" width="280" prop="cmoneyk">
					</el-table-column>

				</el-table>
			</template>



				<template>
	
	<h4>维修记录</h4>
  <el-table
  	
  	size="mini"
  	:header-cell-style="{background:'#eef1f6'}"
  	border
    :data="cheliangList"
    style="width: 100%">
    <el-table-column type="expand">
      <template slot-scope="props">
        <el-table
  	size="mini"
  	:header-cell-style="{background:'#eef1f6'}"
  	border
    :data="props.row.list"
    style="width: 100%">
    	<el-table-column prop="wcarid" align="center" label="车牌号" width="180">

					</el-table-column>

					<el-table-column align="center" label="开始维修日期" prop="wstatdate" width="180" sortable>
						<template slot-scope="scope">
							<i class="el-icon-time"></i>
							<span style="margin-left: 10px">{{ scope.row.wstatdate }}</span>
						</template>
					</el-table-column>

					<el-table-column align="center" label="结束维修日期" prop="wenddate" width="180" sortable>
						<template slot-scope="scope">
							<i class="el-icon-time"></i>
							<span style="margin-left: 10px">{{ scope.row.wenddate }}</span>
						</template>
					</el-table-column>
					<el-table-column align="center" label="维修金额" prop="wsumprice" width="180" sortable>
						<template slot-scope="scope">
							￥{{ scope.row.wsumprice }}
						</template>
					</el-table-column>
					<el-table-column label="操作" width="280" align="center">
						<template slot-scope="scope">
							<el-button type="text" size="mini"  type="danger" @click="queryXiangxi(scope.$index, scope.row)"><span class="el-icon-zoom-in"></span>维修详细</el-button>
						</template>
					</el-table-column>
    
       
       </el-table>
       
      </template>
    </el-table-column>
   	<el-table-column size="mini" prop="carlicenceplate" label="车牌号">
								</el-table-column>

								<el-table-column prop="carbrand" label="车辆品牌">
								</el-table-column>

								<el-table-column prop="carcolor" label="车辆颜色">
								</el-table-column>
								<el-table-column prop="carconfigure" label="配置" width="180">
								</el-table-column>
								<el-table-column prop="carlocality" label="产地">
								</el-table-column>

								<el-table-column prop="carmodel" label="车辆款式">
								</el-table-column>
  </el-table>
</template>



			<el-dialog title="客户信息填写" :visible.sync="dialogVisible" width="900px" :before-close="handleClose">

				<template>
					<el-tabs v-model="activeName" @tab-click="handleClick">
						<el-tab-pane label="顾客信息填写" name="first">

							<el-form :model="ruleForm" :inline="true" :rules="rules" ref="ruleForm" label-width="100px" class="demo-form-inline">

								<el-form-item label="顾客编号">

									<el-input v-model="ruleForm.cidk" :disabled="true" style="width: 250px;"></el-input>

								</el-form-item>
								<el-form-item label="顾客姓名" placeholder="请输入姓名" prop="cnamek">

									<el-input v-model="ruleForm.cnamek" style="width: 250px;"></el-input>

								</el-form-item>

								<el-form-item label="地址" placeholder="请输入地址" >
									<el-cascader :options="options" v-model="dz" @change="handleChange" clearable></el-cascader>

								</el-form-item>

								<el-form-item label="性别" prop="csexk">
									<el-radio-group style="width: 250px;" v-model="ruleForm.csexk">
										<el-radio label="男"></el-radio>
										<el-radio label="女"></el-radio>
									</el-radio-group>
								</el-form-item>

								<el-form-item label="联系号码" placeholder="请输入号码" prop="cphonek">

									<el-input v-model="ruleForm.cphonek" style="width: 250px;"></el-input>

								</el-form-item>
								<el-form-item label="身份证">

									<el-input v-model="ruleForm.cidnumberk" style="width: 250px;"></el-input>

								</el-form-item>

								<el-form-item label="客户类型" placeholder="请选择类型" prop="ctypek">
									<el-select style="width: 250px;" v-model="ruleForm.ctypek" @change="leixiChange" placeholder="请选择类型">
										<el-option v-for="item in huiyuanleix" :key="item.value" :label="item.label" :value="item.value">
										</el-option>
									</el-select>

								</el-form-item>
								<el-form-item label="会员卡号"  v-if="leixi">
									<el-input v-model="ruleForm.ckahaok" :disabled="true" style="width: 250px;"></el-input>

								</el-form-item>

								<el-form-item label="累计积分"  v-if="leixi">
									<el-input v-model="ruleForm.cdoublerk" :disabled="true" style="width: 250px;"></el-input>

								</el-form-item>
								<el-form-item label="会员余额" v-if="leixi">
									<el-input maxlength="8" oninput="value=value.replace(/[^\d.]/g,'')" style="width: 250px;" v-model="ruleForm.cmoneyk" placeholder="请输入价格" clearable></el-input>
								</el-form-item>

								<el-form-item style="margin: 0px auto;width: 700px; text-align: right;">
									<el-button type="primary" style="width: 150px;" @click="submitForm('ruleForm')">数据提交</el-button>
									<el-button style="width: 150px;" @click="xiugaiquxiao('ruleForm')">取消</el-button>
								</el-form-item>
							</el-form>

						</el-tab-pane>
						<el-tab-pane label="顾客车辆填写" name="second">

							<template>
								<el-table :data="ruleForm.list" border style="width: 100%">
									<el-table-column width="50" align="center">
										<template slot="header" slot-scope="scope">
											<el-button type="text" @click="clxxAdd" icon="el-icon-plus"></el-button>
										</template>
										<template slot-scope="scope">
											<el-button type="text" @click="clxxRemove(scope.$index)" icon="el-icon-delete"></el-button>
										</template>

									</el-table-column>
									<el-table-column label="车牌号">
										<template slot-scope="scope">
											<el-input size="mini" placeholder="请输入车牌" v-model="scope.row.carlicenceplate" clearable>
											</el-input>
										</template>
									</el-table-column>
									<el-table-column label="车辆品牌">
										<template slot-scope="scope">

											<el-input size="mini" placeholder="请输入品牌" v-model="scope.row.carbrand" clearable>
											</el-input>
										</template>
									</el-table-column>

									<el-table-column label="车辆颜色">
										<template slot-scope="scope">
											<el-input size="mini" v-model="scope.row.carcolor" clearable>
											</el-input>
										</template>
									</el-table-column>

									<el-table-column label="配置">
										<template slot-scope="scope">
											<el-input size="mini" v-model="scope.row.carconfigure" clearable>
											</el-input>
										</template>
									</el-table-column>
									<el-table-column label="产地">
										<template slot-scope="scope">
											<el-input size="mini" v-model="scope.row.carlocality" clearable>
											</el-input>
										</template>
									</el-table-column>
									<el-table-column label="车辆款式">
										<template slot-scope="scope">
											<el-input size="mini" v-model="scope.row.carmodel" clearable>
											</el-input>
										</template>
									</el-table-column>
								</el-table>
							</template>

						</el-tab-pane>

					</el-tabs>
				</template>

			</el-dialog>

			<el-dialog :title="title" :visible.sync="dialogVisible2" width="900px" v-loading.fullscreen.lock="fullscreenLoading" :before-close="handleClose">
				<div id="cnt">
					<div style="width: 200px; margin: 0px auto;text-align: center;">
						<span class="el-icon-loading"></span>正在初始化......
					</div>

				</div>
			</el-dialog>

		</div>

	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script>
		var gangwei = new Vue({
			el: "#kehuziliao",
			data: {
				dz:null,
				cheliangList:[],
				  tableData: [],
				title: "",
				fullscreenLoading: true,
				bb: true,
				dz: "",
				dialogVisible2: false,
				options: [{
						value: '湖南省',
						label: '湖南省',
						children: [{
							value: '长沙市',
							label: '长沙市',
						}, {
							value: '株洲市',
							label: '株洲市',
						}]
					},
					{
						value: '浙江省',
						label: '浙江省',
						children: [{
							value: '温州市',
							label: '温州市',
						}, {
							value: '杭州市',
							label: '杭州市',
						}]
					}
				],
				qcxxData: [],
				activeName: "first",
				checked: '',
				ruleForm: {
					list: []
				},
				rules: {
					cnamek: [{
							required: true,
							message: '请输入姓名',
							trigger: 'blur'
						}
					],
					bm: [{
						required: true,
						message: '请选择部门',
						trigger: 'change'
					}],
					ctypek: [{
						required: true,
						message: '请选择客户类型',
						trigger: 'change'
					}],
					js: [{
						required: true,
						message: '请选择角色',
						trigger: 'change'
					}],
					gw: [{
						required: true,
						message: '请选择岗位',
						trigger: 'change'
					}],
					date: [{
						required: true,
						required: true,
						message: '请选择日期',
						trigger: 'change'
					}],
					type: [{
						type: 'array',
						required: true,
						message: '请至少选择一个活动性质',
						trigger: 'change'
					}],
					csexk: [{
						required: true,
						message: '请选择性别',
						trigger: 'change'
					}],
					cphonek: [
          { required: true, message: "请输入手机号码", trigger: "blur" },
          { min: 11, max: 11, message: "请输入11位手机号码", trigger: "blur" },
          {
            pattern: /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/,
            message: "请输入正确的手机号码"
          }
        ],
					address: [{
						required: true,
						message: '请填写地址',
						trigger: 'blur'
					}]
				},
				radio: "",
				hasChildren: false,
				dialogVisible: false,
				input: '',
				tableData: [],
				leixi: false,
				xruleForm:null,
				huiyuanleix: [{
					label: "普通",
					value: "普通"
				}, {
					label: "会员",
					value: "会员"
				}],
				getIndex:null
			},
			methods: {
				queryXiangxi(index,obj){
					this.title="详细信息"
					this.dialogVisible2=true;
					this.fullscreenLoading=true;
					setTimeout(()=>{
						sessionStorage.setItem("xiangxi",JSON.stringify(obj.list));
						$("#cnt").load("查看详细订单.html");
					},"1000")
				},
					tableRowClassName ({row, rowIndex}) {
       //把每一行的索引放进row
     row.index = rowIndex;
    },
    rowClick (row) {
    	this.xruleForm=null;
    	this.cheliangList=[];
       this.getIndex=null;
    },
    selectedHighlight({row, rowIndex}) {
         if ((this.getIndex) === rowIndex ) {
            return {
          "background-color": "#CAE1FF"
       };
     }
    },  rowdblclick(row,col,event){
    this.xruleForm = row;
     	 this.getIndex=row.index;
     	this.cheliangList=row.list;
    },
				/*验证是否选中*/
				code() {
				
					if(this.xruleForm ==null) {
						this.$message({
							message: '警告，请双击你要操作的数据',
							type: 'warning'
						});
						return true;
					}
					return false;
				},
				/*车辆添加*/
				clAdd() {
					this.title = "客户车辆添加";
					if(this.code()) {
						return
					}
					this.fullscreenLoading = true;
					this.dialogVisible2 = true;
					setTimeout(() => {
						sessionStorage.setItem("khzlclAdd", JSON.stringify(this.xruleForm));
						$("#cnt").load("客户资料车辆添加.html");
					}, "700")

				},
				submitForm(formName) {
					let _this = this;
					this.$refs[formName].validate((valid) => {
						if(valid) {
							console.log(`${JSON.stringify(_this.ruleForm)}`);
							/*修改状态*/
					$.ajax(`http://127.0.0.1:8080/zyhCustomerBAction/api/khuAndCar`, {
						type: "post",
						dataType: "json",
						data:JSON.stringify(_this.ruleForm),
						contentType: "application/json",
						success: function(data) {
							if(data > 0) {
								_this.$message({
										duration:"1000",
									type: 'success',
									message: '操作成功!'
								});
								_this.ruleForm.list=[];
								_this.queryClick();
							}
						}
					});
							
							_this.resetForm(formName);
							_this.dialogVisible = false;
						} else {
							console.log('error submit!!');
							return false;
						}
					});
				},
				xsubmitForm(formName) {
					let _this = this;
					this.$refs[formName].validate((valid) => {
						if(valid) {
							_this.dialogVisible2 = false;
							alert('submit!');
						} else {
							_this.xruleForm = _this.byruleForm;
							console.log('error submit!!');
							return false;
						}
					});
				},
				xiugaiquxiao(formName) {
					this.radio = "";
					this.resetForm(formName);
					this.dialogVisible = false;
					this.dialogVisible2 = false;
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				/*车辆填写信息移除*/
				clxxRemove(index) {
					this.ruleForm.list.splice(index, 1);
				},
				addcl() {
					this.ruleForm.list.splice(0, 0, {
						carlicenceplate: '',
						carbrand: '',
						carcolor: '',
						carconfigure: '',
						carlocality: '',
						carmodel: ''
					});
				},
				/*车辆信息添加*/
				clxxAdd() {
					let _this = this;
					if(_this.ruleForm.list.length == 0) {
						_this.addcl();
						return
					}
					let bool = true;
					$.each(_this.ruleForm.list, function(i, obj) {
						if(obj.cp == "" && obj.pp == "") {
							_this.$message({
								showClose: true,
								message: '车牌号和品牌不能为空！',
								type: 'error'
							});
							bool = false;
						} else if(obj.cp == "") {
							_this.$message({
								showClose: true,
								message: '请填写车牌号',
								type: 'error'
							});
							bool = false;
						} else if(obj.pp == "") {
							_this.$message({
								showClose: true,
								message: '请填写车辆品牌',
								type: 'error'
							});
							bool = false;
						}

					});
					if(bool) {
						_this.addcl()
					}

				},
				/*地址联动*/
				handleChange(value) {
					this.ruleForm.caddressk=value[0]+"/"+value[1];
					console.log(this.ruleForm.caddressk);
				},
				/*标签页*/
				handleClick(tab, event) {
					console.log(tab, event);
				},
				/*是否添加车辆*/
				checkChange() {
					/*alert(	this.checked)*/
				},
				/*类型选择*/
				leixiChange() {
					this.leixi = this.ruleForm.ctypek == "会员" ? true : false;
					this.ruleForm.ckahaok= this.ruleForm.ctypek == "会员"?this.ruleForm.cidk:'';
					console.log(`${this.ruleForm.cidk}`)
				},
				/*查看*/
				queryClick() {
					let _this=this;
					val=this.input==''?null:this.input;
					$.getJSON(`http://127.0.0.1:8080/zyhCustomerBAction/api/queryAllOrByName/${val}`, function(data) {
					_this.tableData=data;
					
					});
					
				},
				/*添加*/
				addClick() {
					var date=new Date();
						now=date.getFullYear()+""+(date.getMonth()+1)+""+date.getDate()+""+date.getHours()+""+date.getMinutes()+""+date.getSeconds();
						this.ruleForm.cidk=now;
					this.leixi = false;
					this.activeName = 'first';
					this.dialogVisible = true;
				},
				/*编辑*/
				updateClick() {
					this.title = "资料修改";
					if(this.code()) {
						return
					}

					this.fullscreenLoading = true;
					this.dialogVisible2 = true;
					setTimeout(() => {
						sessionStorage.setItem("khzlxg", JSON.stringify(this.xruleForm));
						$("#cnt").load("客户资料修改.html");
					}, "1000");

				},
				/*关闭对话框*/

				handleClose(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							this.radio = "";
							done();
						})
						.catch(_ => {});
				}
			},
			mounted() {
					this.queryClick();
			}
		})
	</script>

</html>