<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>岗位管理</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
<style>
	[v-cloak]{
		display: none;
	}
		</style>
	</head>
	<body style="background-color: #e6e6e6;" >
		<div style="background-color: white;padding: 1ex;padding-bottom: 5ex;">
			
			
		
		<h3 style="margin-left:5ex;">岗位管理</h3>
		<div id="gangwei" style="text-align: center;" v-cloak>
			<div >
				
				<span>岗位编号：<el-input style="width: 200px;"  size="mini" v-model="bh" placeholder="请输入内容"></el-input></span>
				<span style="margin-right: 5ex;">岗位名称：<el-input style="width: 200px;" size="mini" v-model="mc" placeholder="请输入内容"></el-input></span>
				<el-button type="primary"size="mini"  icon="el-icon-zoom-in" @click="postQuery">查看</el-button>
				<el-button type="success"size="mini" icon="el-icon-plus" @click="postAdd">新增</el-button>
			
				
			</div>
			<div style="border-bottom: 1px solid;">
				<template>
  <el-table
    ref="multipleTable"
    :data="tableData"
    tooltip-effect="dark"
    height="300"
    style="width: 750px;margin-left: 36ex;"
   >

    <el-table-column
    	    align="center"
      prop="pid"
      label="岗位编号"
      width="250">
    </el-table-column>
  <el-table-column
  	    align="center"
      prop="gwname"
      label="岗位名称"
      width="250">
    </el-table-column>
      <el-table-column
  	    align="center"
      label="操作"
      width="250">
      <template slot-scope="scope">
      		<el-button type="danger"size="mini"  icon="el-icon-delete" @click="postDelete(scope.row.pid)">删除</el-button>
      </template>
    </el-table-column>
    
  </el-table>

			</template>	
			<br />
			</div>

	
<div>
			<h3 style="margin-left:5ex;float: left;clear: both;">角色管理</h3>
		
<div style="clear: both; margin-top: 5ex;margin-bottom: 2ex;text-align: center;width: 900px;margin: 0px auto;">
				
				<span>角色编号：<el-input style="width: 200px;"  size="mini" v-model="jbh" placeholder="请输入内容"></el-input></span>
				<span style="margin-right: 5ex;">角色名称：<el-input style="width: 200px;" size="mini" v-model="jmc" placeholder="请输入内容"></el-input></span>
				<el-button type="primary"size="mini" icon="el-icon-zoom-in" @click="roleQuery">查看</el-button>
				<el-button type="success"size="mini"  icon="el-icon-plus" @click="roleAdd">新增</el-button>
				
				
			</div>
			<template>
    <el-table 
    ref="multipleTable"
    :data="tableData2"
    tooltip-effect="dark"
     height="300"
    style="width: 750px;margin-left: 36ex;"
  >
    <el-table-column
      prop="cid"
          align="center"
      label="角色编号"
      width="250">
    </el-table-column>
  <el-table-column
      prop="cname"
          align="center"
      label="角色名称"
      width="250">
    </el-table-column>
    
     <el-table-column
  	    align="center"
      label="操作"
      width="250">
      <template slot-scope="scope">
      		<el-button type="danger"size="mini"  icon="el-icon-delete" @click="roleDelete(scope.row.cid)">删除</el-button>
      </template>
    </el-table-column>
  </el-table>
  
	</template>
	
</div>
		</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script>
		
		var gangwei = new Vue({
			el: "#gangwei",
			data: {
				jbh:"",
				jmc:"",
				bh:"",
				mc:"",
				 tableData: [],
           multipleSelection: [],
           tableData2:[]
			},
			methods: {
				/*岗位查看*/
				postQuery(){
					let _this=this;
					id=this.bh==""?0:this.bh;
					name=this.mc==""?null:this.mc;
					$.getJSON(`http://127.0.0.1:8080/RoleAndPostAction/api/postQueryAll/${id}/${name}`, function(data) {
				_this.tableData=data;
				})
				},
				/*角色查看*/
				roleQuery(){
					let _this=this;
					id=this.jbh==""?0:this.jbh;
					name=this.jmc==""?null:this.jmc;
					$.getJSON(`http://127.0.0.1:8080/RoleAndPostAction/api/roleQueryAll/${id}/${name}`, function(data) {
				_this.tableData2=data;
				})
				},
				/*岗位添加*/
				postAdd(){
					if(this.mc==""){
						this.$message({
							duration:"1000",
							showClose: true,
							message: '提示，请输入岗位名称',
							type: 'warning'
						});
						return
					}
					
					obj={};
					obj["pid"]=0;
					obj["gwname"]=this.mc;
					let _this=this;
					$.ajax(`http://127.0.0.1:8080/RoleAndPostAction/api/insert`, {
						type: "post",
						dataType: "json",
						data:JSON.stringify(obj),
						contentType: "application/json",
						success: function(data) {
							if(data > 0) {
								_this.$message({
										duration:"1000",
									type: 'success',
									message: '操作成功!'
								});
								_this.mc="";
									_this.postQuery();
							}
						}
					});
					
				},
				/*新增*/
				roleAdd(){
					
					if(this.jmc==""){
						this.$message({
							duration:"1000",
							showClose: true,
							message: '提示，请输入角色名称',
							type: 'warning'
						});
						return
					}
						
					obj={};
					obj["cid"]=0;
					obj["cname"]=this.jmc;
					let _this=this;
					$.ajax(`http://127.0.0.1:8080/RoleAndPostAction/api/roleAdd`, {
						type: "post",
						dataType: "json",
						data:JSON.stringify(obj),
						contentType: "application/json",
						success: function(data) {
							if(data > 0) {
								_this.$message({
										duration:"1000",
									type: 'success',
									message: '操作成功!'
								});
								_this.jmc="";
								_this.roleQuery();
							}
						}
					});
					
					
				},
				/*删除*/
				postDelete(id){
				let _this=this;
				this.$confirm('此操作将永久删除该信息, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
        	$.ajax(`http://127.0.0.1:8080/RoleAndPostAction/api/deleteById/${id}`, {
						type: "delete",
						dataType: "json",
						data:JSON.stringify(_this.ruleForm),
						contentType: "application/json",
						success: function(data) {
							if(data > 0) {
								_this.$message({
										duration:"1000",
									type: 'success',
									message: '操作成功!'
								});
								_this.postQuery();
							}else{
							_this.$message({
									duration:"1000",
          showClose: true,
          message: '此岗位正在使用不能删除！',
          type: 'error'
        });
							}
						}
					});
        	
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
				
				
				
				},
				roleDelete(id){
					
				let _this=this;
				this.$confirm('此操作将永久删除该信息, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
        	$.ajax(`http://127.0.0.1:8080/RoleAndPostAction/api/deleteRole/${id}`, {
						type: "delete",
						dataType: "json",
						data:JSON.stringify(_this.ruleForm),
						contentType: "application/json",
						success: function(data) {
							if(data > 0) {
								_this.$message({
										duration:"1000",
									type: 'success',
									message: '操作成功!'
								});
								_this.roleQuery();
							}else{
							_this.$message({
									duration:"1000",
          showClose: true,
          message: '此角色正在使用不能删除！',
          type: 'error'
        });
							}
						}
					});
        	
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
					
					
				}
			},
			mounted() {
					this.postQuery();
					this.roleQuery();
			}
		})
	</script>
	
</html>
