<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>维修竣工</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" href="../css/bootstrap.min.css" />

	</head>

	<body style="background-color: #e6e6e6;">

		<div id="juegong" style=" width: 1290px; margin: 0px auto;margin-top: 2ex; background-color: white;height: 650px;padding: 10px;">
			<h3 style="margin: 0px auto; width: 300px;text-align: center;padding-top: 1ex;">维修数据

			</h3>

			<template>
				<el-tabs style="margin-top: 0px;width: 1200px;margin:  0px auto;" v-model="activeName" @tab-click="handleClick">
					<el-tab-pane label="未竣工" name="first">

						<div style="text-align: center; margin: 2ex;">
							<span style="margin-right: 3ex;">车牌号查看：
  <el-input
  	size="mini"
  	style="width: 150px;"
  placeholder="请输入内容"
  v-model="chepaiLIke"
  clearable>
</el-input></span>
							<span>日期查看：
    <el-date-picker
    	size="mini"
      v-model="dates"
      type="datetimerange"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      align="right">
    </el-date-picker></span>
							<el-button type="primary" size="mini" @click="queryCk">查看</el-button>
						</div>

						<template>

							<el-table :data="tableData.list" style="margin: 0px auto;">
								<el-table-column prop="wcarid" align="center" label="维修车牌号">

								</el-table-column>
								<el-table-column prop="wtype" align="center" label="维修类型">

								</el-table-column>

								<el-table-column align="center" label="开始维修日期" width="180" sortable prop="wstatdate">
									<template slot-scope="scope">
										<i class="el-icon-time"></i>
										<span style="margin-left: 10px">{{ scope.row.wstatdate }}</span>
									</template>
								</el-table-column>

								<el-table-column align="center" label="结束维修日期" width="180" sortable prop="wenddate">
									<template slot-scope="scope">
										<i class="el-icon-time"></i>
										<span style="margin-left: 10px">{{ scope.row.wenddate }}</span>
									</template>
								</el-table-column>
								<el-table-column align="center" label="维修金额" prop="summoney" sortable prop="wsumprice">
									<template slot-scope="scope">
										￥{{ scope.row.wsumprice }}
									</template>
								</el-table-column>

								<el-table-column align="center" label="维修状态">
									<template slot-scope="scope">
										<span style="color: #E6A23C;">{{scope.row.statucname}}</span>
									</template>
								</el-table-column>

								<el-table-column label="操作" width="280" align="center">
									<template slot-scope="scope">

										<el-button type="primary" size="mini" @click="handleEdit(scope.$index, scope.row)">竣工检验</el-button>
										<el-button type="success" size="mini" type="danger" @click="handleDelete(scope.$index, scope.row.list,scope.row)">维修详细</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="block" style="text-align: center;margin-top: 3ex;">
							<el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage4" :page-sizes="[6,3,1]" :page-size="tableData.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="tableData.total">
							</el-pagination>
						</div>

					</el-tab-pane>
					<el-tab-pane label="已竣工" name="second">

						<div style="text-align: center; margin: 2ex;">
							<span style="margin-right: 3ex;">车牌号查看：
  <el-input
  	size="mini"
  	style="width: 150px;"
  placeholder="请输入内容"
  v-model="chepaiLIke2"
  clearable>
</el-input></span>
							<span>日期查看：
    <el-date-picker
    	size="mini"
      v-model="dates2"
      type="datetimerange"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      align="right">
    </el-date-picker></span>
							<el-button type="primary" size="mini" @click="queryCk2">查看</el-button>
						</div>

						<template>

							<el-table :data="tableData2.list" style="margin: 0px auto;">
								<el-table-column prop="wcarid" align="center" label="维修车牌号">

								</el-table-column>
								<el-table-column prop="wtype" align="center" label="维修类型">

								</el-table-column>

								<el-table-column align="center" label="开始维修日期" width="180" sortable prop="wstatdate">
									<template slot-scope="scope">
										<i class="el-icon-time"></i>
										<span style="margin-left: 10px">{{ scope.row.wstatdate }}</span>
									</template>
								</el-table-column>

								<el-table-column align="center" label="结束维修日期" prop="wenddate" width="180" sortable>
									<template slot-scope="scope">
										<i class="el-icon-time"></i>
										<span style="margin-left: 10px">{{ scope.row.wenddate }}</span>
									</template>
								</el-table-column>
								<el-table-column align="center" label="维修总金额" sortable prop="wsumprice">
									<template slot-scope="scope">
										￥{{ scope.row.wsumprice }}
									</template>
								</el-table-column>
								<el-table-column align="center" label="维修状态">
									<template slot-scope="scope">
										<span style="color: #E6A23C;">{{scope.row.statucname}}</span>
									</template>
								</el-table-column>
								<el-table-column label="操作" width="280" align="center">
									<template slot-scope="scope">
										<el-button type="success" size="mini" type="danger" @click="handleDelete(scope.$index, scope.row.list,scope.row)">维修详细</el-button>
									</template>
								</el-table-column>
							</el-table>
						</template>
						<div class="block" style="text-align: center;margin-top: 3ex;">
							<el-pagination @size-change="handleSizeChange2" @current-change="handleCurrentChange2" :current-page="currentPage5" :page-sizes="[6,3,1]" :page-size="tableData2.pageSize" layout="total, sizes, prev, pager, next, jumper" :total="tableData2.total">
							</el-pagination>
						</div>

					</el-tab-pane>

				</el-tabs>

				<el-dialog title="维修详细信息" align="center" :visible.sync="dialogVisible" width="800px" :before-close="handleClose">
					<template>
						<el-table :data="xiangXiData" style="width: 100%;margin: 0px auto;margin-top: -2ex;">
							<el-table-column label="编号" align="center" width="180">
								<template slot-scope="scope">
									{{scope.$index+1}}
								</template>
							</el-table-column>
							<el-table-column prop="sdname" align="center" label="维修项目名称">
							</el-table-column>
							<el-table-column align="center" label="单价">
								<template slot-scope="scope">
									<label style="">￥{{scope.row.dprice}}</label>
								</template>
							</el-table-column>
							<el-table-column align="center" label="(件数/小时)">
								<template slot-scope="scope">
									<label style="">{{scope.row.sdnumber}}</label>
								</template>
							</el-table-column>
							<el-table-column align="center" label="总价">
								<template slot-scope="scope">
									<label style="">￥{{scope.row.sdprice}}</label>
								</template>
							</el-table-column>

						</el-table>
						<i style="float: left;margin-left: 5ex;margin-top: 3ex;">
							<span style="color: red;margin-right: 1ex;"  >作业单位：{{danwei}} —— 工时费：￥{{gf}}(1h)</span>
							
								<br />
							<span style="color: red;float: left;">总金额：￥{{moneySum}} </span></i>
					</template>

					<span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
  </span>
				</el-dialog>

				<el-dialog style="text-align: center;" title="提示竣工" align="center" :visible.sync="dialogVisible2" width="400px" :before-close="handleClose">
					<template>
						提醒：一但确定竣工就不得修改撤销<br/>
						<div style="margin-top: 3ex;text-align: center;">
							<el-radio v-model="radio2" @change="radioFanGong" label="3">完工</el-radio>
							<el-radio v-model="radio2" @change="radioFanGong" label="10">已方返工</el-radio>
							<el-radio v-model="radio2" @change="radioFanGong" label="11">客户返工</el-radio>
							<p v-if="fangoufeiwuxianshi">

								<template>
									<span style="border: 0px solid;margin-left: -10ex;">
									选择车辆品牌：
									<el-select v-model="cartype" @change="selectChangeCarType"  filterable placeholder="请选择" 
									style="width: 150px;margin-bottom:1ex;" size="mini">
										<el-option v-for="(item,i) in carType" :key="item.gid" :label="item.gsuitable" :value="i">
										</el-option>
									</el-select>
								</span>
								</template>
								<br />
								<template>
									选择维修项目：
									<el-select v-model="value" filterable placeholder="请选择" style="width: 150px;" size="mini">
										<el-option v-for="(item,i) in weixiu" :key="item.gid" :label="item.gname" :value="i">
										</el-option>
									</el-select>
									<el-input size="mini" maxlength="8" oninput="value=value.replace(/[^\d.]/g,'')" style="width: 60px;" v-model="shuliang" clearable></el-input>

									<a href="javascript:void(0)" @click="addweixiu()" class="el-icon-check"></a>
								</template>
								<table v-if="weixiuTable.length!=0" style="width: 350px;border:1px solid;text-align: center;margin: 0px auto;">
									<tr>
										<td>编号</td>
										<td>维修名称</td>
										<td>价格</td>
										<td>数量</td>
										<td>总价</td>
										<td>操作</td>
									</tr>
									<tr v-for="(temp,i) in weixiuTable" style="margin: 5px;">
										<td>{{i+1}}</td>
										<td>{{temp.sdname}}</td>
										<td>{{temp.dprice}}</td>
										<td>{{temp.sdnumber}}</td>
										<td>{{temp.sdprice}}</td>
										<td>
											<a href="javascript:void(0)" @click="removeweixiu(i)" class="el-icon-delete"></a>
										</td>
									</tr>

								</table>

							</p>
							<span slot="footer" class="dialog-footer" style="margin-top: 3ex;display: inline-block;">
    <el-button type="primary" style="margin-right: 3ex;" @click="dialogVisible2Api">确 定</el-button>
    <el-button @click="dialogVisible2 = false">取 消</el-button>
  </span>
						</div>
					</template>

				</el-dialog>
			</template>

		</div>

	</body>

	<script type="text/javascript" src="../js/jquery-1.12.4.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/vue.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/jq_ajax_config.js"></script>
	<script>

		var zhnanei = new Vue({
			el: "#juegong",
			data: {
				hsmoney:0,
				gf:0,
				type:0,
				danwei:'',
				shjian:'',
				weixiuTable: [],
				value: null,
				weixiu: [],
				cartype: null,
				carType: [],
				dates: null,
				chepaiLIke: "",
				dates2: null,
				chepaiLIke2: "",
				activeName: 'first',
				fangoufeiwuxianshi: false,
				moneySum: 0,
				xiangXiData: [],
				dialogVisible: false,
				dialogVisible_2: false,
				dialogVisible2: false,
				radio: '1',
				radio2: '3',
				currentPage4: 1,
				currentPage5: 1,
				tableData: [],
				tableData2: [],
				id: '',
				shuliang: 1,
				sjObj:{}
			},
			methods: {
				/*刪除返工维修的项目*/
				removeweixiu(index) {
					this.weixiuTable.splice(index, 1);
				},
				/*右侧警告弹窗*/
				open2(title) {
					this.$notify({
						duration:"1000",
						title: '警告',
						message: `${title}`,
						type: 'warning'
					});
				},
				addweixiu() {

					if(this.cartype == null) {
						this.open2("请选择车辆类型");
						return
					}
					if(this.value == null) {
						this.open2("请选择维修项目");
						return
					}
					if(this.shuliang == "") {
						this.shuliang = 1;
					}

					let bool = false;
					this.weixiuTable.forEach(row => {
						if(row.sdname == this.weixiu[this.value].gname) {
							return bool = true;
						}

					});
					if(bool) {
						return
					}
					this.weixiuTable.splice(0, 0, {
						wid: this.id,
						sdname: this.weixiu[this.value].gname,
						dprice: parseFloat(this.weixiu[this.value].gprice),
						sdnumber: this.shuliang,
						sdprice: (parseFloat(this.shuliang) * parseFloat(this.weixiu[this.value].gprice))
					});
					this.shuliang = 1;

				},
				/*选择车辆类型*/
				selectChangeCarType() {
					this.weixiu = this.carType[this.cartype].list;
				},
				handleClick(tab, event) {
					console.log(tab, event);
				},
				/*是否返工确定*/
				dialogVisible2Api() {
					let _this = this;
					if(this.fangoufeiwuxianshi && this.weixiuTable.length == 0) {
						this.$message({
								duration:"1000",
							showClose: true,
							message: '请输入返工项目！',
							type: 'error'
						});

						return
					}
					_this.$confirm('操作执行不能撤销, 是否继续?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {

						_this.statucUpdate();

					}).catch(() => {
						_this.$message({
							type: 'info',
							message: '已取消操作'
						});
					});

				},
				statucUpdate(obj,row) {

					let _this = this;
					if(_this.id == '' || _this.radio2 == '') {
						return
					}

					//开启同步
					$.ajaxSetup({
						async: false
					})
					/*判断是否客户返工 是就添加项目*/
					if(this.fangoufeiwuxianshi) {
						$.ajax(`http://127.0.0.1:8080/zyhServiceAction/api/serivceDetailedAdd`, {
							type: "post",
							data: JSON.stringify(_this.weixiuTable),
							dataType: "json",
							contentType: "application/json"
						});
					}
					/*修改状态*/
					let  date=new Date();
					let startDate=new Date(this.sjObj.wstatdate);
					let ms = date.getTime() - startDate.getTime();
            		if (ms < 0) return 0;
           			this.shjian=parseFloat(parseInt(ms/1000/60)/60).toFixed(2);//工时
           			var leave1 = ms % (24 * 3600 * 1000)
           			s=leave1% (3600 * 1000);
           			
           			console.log(	ms+"//"+s/60+"修改工时");
           			this.gf=this.sjObj.hmoney;
           			let gsf=parseInt((this.gf/60).toFixed(2)*(this.shjian*60).toFixed(2));
          
				
					$.ajax(`http://127.0.0.1:8080/zyhServiceAction/api/updateByWidToStatuc/${_this.radio2}/${_this.id}/${date}/${this.shjian}/${gsf}` ,{
						type: "put",
						dataType: "json",
						contentType: "application/json",
						success: function(data) {
							if(data > 0) {
								_this.$message({
										duration:"1000",
									type: 'success',
									message: '操作成功!'
								});
								_this.dialogVisible2 = false;
								_this.fangoufeiwuxianshi = false;
								_this.radio2 = "3";
								_this.weixiuTable = [];
								_this.page(1, 6, 1, 2);
								_this.page(1, 6, 3, 0);
							}
						}
					});

				},
				/*查看*/
				queryCk() {
					this.page(1, this.tableData.pageSize, 1, 2);
				},
				queryCk2() {
					this.page(1, this.tableData2.pageSize, 3, 0);
				},
				/*返工选择*/
				radioFanGong(val) {
					if(val == 11) {
						this.fangoufeiwuxianshi = true;
					} else {
						this.weixiuTable = [];
						this.fangoufeiwuxianshi = false;
					}
				},
				/*分页*/
				page(n, s, statuc1, statuc2) {
					let _this = this;
					let wcarid;
					if(statuc2 == 0) {
						wcarid = this.chepaiLIke2 == "" ? null : this.chepaiLIke2;
					} else {
						wcarid = this.chepaiLIke == "" ? null : this.chepaiLIke;
					}

					statdate = this.dates;
					enddate = this.dates;
					if(statuc2 == 0 && this.dates2 != null) {
						statdate = this.dates2[0];
						enddate = this.dates2[1];
					} else if(statuc2 != 0 && this.dates != null) {
						statdate = this.dates[0];
						enddate = this.dates[1];

					}
					
					$.getJSON(`http://127.0.0.1:8080/zyhServiceAction/api/queryStatucBy1Or2/${wcarid}/${statdate}/${enddate}/${n}/${s}/${statuc1}/${statuc2}`, function(data) {

						if(statuc2 == 0) {
							_this.tableData2 = data;
							_this.currentPage5 = data.pageNum;
						} else {
							_this.tableData = data;
							_this.currentPage4 = data.pageNum;
						}

					});
				},
				handleSizeChange(val) {
					this.currentPage4 = 1;
					this.page(1, val, 1, 2);
					console.log(`每页 ${val} 条`);
				},
				handleCurrentChange(val) {
					this.page(val, this.tableData.pageSize, 1, 2);
					console.log(`当前页: ${val}`);
				},
				handleSizeChange2(val) {
					this.currentPage5 = 1;
					this.page(1, val, 3, 0);
					console.log(`每页 ${val} 条`);
				},
				handleCurrentChange2(val) {
					this.page(val, this.tableData2.pageSize, 3, 0);
					console.log(`当前页: ${val}`);
				},
				/*竣工操作*/
				handleEdit(index, row) {
					this.sjObj=row;
					this.dialogVisible2 = true;
					this.id = row.wid;
					console.log(index, row);
				},
				/*维修详细*/
				handleDelete(index, row,obj) {
					var endDate=new Date(obj.wenddate);
					var startDate=new Date(obj.wstatdate);
					    var ms = endDate.getTime() - startDate.getTime();
            			if (ms < 0) return 0;
           			this.shjian=parseFloat(ms/1000/60/60).toFixed(2);
           			console.log(this.shjian);
           			this.type=obj.type;
           			this.danwei=obj.type==1?obj.bzname:obj.wjname+'  ('+obj.bzname+')';
           			this.gf=obj.hmoney;
           			/*算出多少分钟 * 一分钟多少钱 */
           		
           			
					let _this = this;
					let money = 0.0;
					this.dialogVisible = true;
					this.xiangXiData = row;
					$.each(this.xiangXiData, function(i, obj) {
						money +=parseInt(obj.sdprice);
					});
				/*	console.log(parseFloat(this.shjian)*60, this.gf/60);
					this.hsmoney=((parseInt(this.shjian)*60)*parseFloat(this.gf/60));
					money=parseInt(money+(parseInt(this.shjian)*60)*parseFloat(this.gf/60))*/
					this.moneySum =money;
					console.log(index, row);
				},
				/*详细信息关闭*/
				handleClose(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				}

			},
			mounted() {
				this.page(1, 6, 1, 2);
				this.page(1, 6, 3, 0);
				let _this = this;
				/*查看所有车型*/
				$.getJSON(`http://127.0.0.1:8080/zyhServiceAction/api/queryByCarType`, function(data) {
					_this.carType = data;
				});

			}
		})
	</script>

</html>